<!DOCTYPE html>
{% load cms_tags sekizai_tags menu_tags %}
<html>
<head>
    <title>{% block title %}{% page_attribute 'page_title' %}{% endblock %}</title>
    <meta http-equiv="keywords" content="
            {% block keywords %}{% if  request.current_page.keywords.count %}{{ request.current_page.keywords.all.0.text }}{% endif %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% page_attribute "meta_description" %}{% endblock %}"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% if request.GET %}
        <meta name="robots" content="noindex, follow"/>{% endif %}{% endblock %}
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/reset.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery.fancybox.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/tooltipster.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery.formstyler.css"/>
    {% render_block "css" %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/responsive.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.json-2.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formstyler.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/materialmenu.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/accounting.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    {#    {% static_placeholder "head___static" %}#}

</head>
<body>
{% csrf_token %}
{% cms_toolbar %}
<div class="{% if request.path == '/' %}front{% endif %}" id="container">
    <div class="header">
        <div class="container">
            <div class="left-part fll">
                <a href="/" class="logo">
                    <img src="{{ STATIC_URL }}images/logo.jpg" width="320" height="116" alt=""/>
                </a>
            </div>
            <div class="right-part flr">

                <div class="inset flr">
                    <div class="c-inf fll">
                        <span class="fw300">многоканальный</span>
                        <a class="phone c-blue" href="tel:+74955177528">+7 (495) 517-75-28</a>
                    </div>
                    <div class="graf fll">
                        <span class="fw300">с 9-00 до 20-00, ПН-СБ</span>
                        <a href="#callback" class="btn anim fancy fw600">Заказать обратный звонок</a>
                    </div>
                </div>


                <div class="clr"></div>
                <div class="burger">

                </div>

                <div class="clr"></div>
                <div class="top-menu anim">
                    <ul>
                        {% show_menu 0 100 100 100 %}
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    {% static_placeholder "menu" %}
    {% block slider %}
        {% placeholder slider %}
    {% endblock %}
    <div class="center">
        {% block center %}
            {% placeholder center %}
            {% static_placeholder "free_consult" %}
            {% static_placeholder "why_us" %}
            {% static_placeholder "repait_cost" %}
            {% static_placeholder "designer_consult" %}
            {% static_placeholder "team" %}
            {% static_placeholder "review" %}
            {% static_placeholder "connect_us" %}
        {% endblock %}
        {% placeholder "text" %}
    </div>
    <div class="gray-line">
        <div class="container">
            <ul class="menu anim">
                {% show_menu 0 0 0 0 %}
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="left-part fll">
                {% static_placeholder "footer_left" %}

            </div>
            <div class="right-part flr">
                {% static_placeholder "footer_right" %}

            </div>
            <div class="clr"></div>
            <div class="made hide">
                <a target="_blank" href="#"><img src="{{ STATIC_URL }}images/effe.png" width="150" height="39" alt=""/></a>
            </div>


            <div class="copy fw300">&copy; {% now 'Y' %} Компания "Хомирум". Делаем ремонт, как для себя! 125080, г.
                Москва, ул. Волоколамское шоссе, д.1, стр.1
            </div>
        </div>
    </div>


</div>

<div class="popup wide" id="calc-form-house">
    <div class="inner">
        <p class="fw300">Заполните краткую форму заявки для более подробного расчета. Наши специалисты перезвонят Вам в
            удобное для Вас время.</p>
        <br/>

        <div class="form quest-form">
            <form>
                <div class="left-part fll">

                    <div class="item">
                        <label>Тип дома</label>
                        <select name="type" id="type">
                            <option value="0">деревянный</option>
                            <option value="1">пеноблочный</option>
                            <option value="2">кирпичный</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Метраж</label>
                        <input name="footage" type="text"/>
                    </div>

                    <div class="item">
                        <label>Дизайн-проект</label>
                        <select name="design" id="design">
                            <option value="0">да</option>
                            <option value="1">нет</option>
                        </select>
                    </div>

                    <div class="item">
                        <label class="long">Количество комнат</label>
                        <input name="rooms" type="text"/>
                    </div>

                    <div class="item">
                        <label class="long">Межэтажные перекрытия</label>
                        <select name="floordecks" id="floordecks">
                            <option value="0">уже есть</option>
                            <option value="1">отсутствуют</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Потолки</label>
                        <select name="ceiling" class="long" id="ceiling">
                            <option value="0">покраска</option>
                            <option value="1">подвесные (ГКЛ)</option>
                            <option value="2">натяжные (ПВХ)</option>
                            <option value="3">подшивка вагонкой</option>
                            <option value="4">подшивка декоративной рейкой</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Стены</label>
                        <select name="walls" class="long" id="walls">
                            <option value="0">покраска</option>
                            <option value="1">обои</option>
                            <option value="2">декоративная штукатурка</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Пол на 1 этаже</label>
                        <select name="floor" id="floor">
                            <option value="0">плитка</option>
                            <option value="1">массив</option>
                            <option value="2">паркет</option>
                        </select>
                    </div>

                    <div class="item">
                        <label class="long">Теплые полы на 1 этаже</label>
                        <select name="warmfloor" id="warmfloor">
                            <option value="0">да</option>
                            <option value="1">нет</option>
                        </select>
                    </div>

                </div>
                <div class="right-part flr">
                    <div class="item req">
                        <label>Ваше имя <span class="c-red">*</span></label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="item req">
                        <label>Телефон <span class="c-red">*</span></label>
                        <input name="phone" type="text"/>
                    </div>
                    <div class="item">
                        <label>E-mail</label>
                        <input name="email" type="text"/>
                    </div>
                    <div class="item">
                        <label class="long">Удобное время для связи</label>
                        <input name="time" type="text"/>
                    </div>

                    <div class="item">
                        <label class="long">Особые пожелания</label>
                        <textarea name="text"></textarea>
                    </div>


                    <button class="btn fw600 send-form" type="submit">Отправить заявку</button>

                    <input name="action" value="feedback" type="hidden"/>
                    <input name="honey" value="" type="hidden"/>

                    <div class="loader"></div>
                </div>
                <div class="clr"></div>


            </form>
        </div>
    </div>
</div>


<div class="popup wide" id="calc-form-flat">
    <div class="inner">
        <p class="fw300">Заполните краткую форму заявки для более подробного расчета. Наши специалисты перезвонят Вам в
            удобное для Вас время.</p>
        <br/>
        <div class="form quest-form">
            <form>
                <div class="left-part fll">
                    <div class="item">
                        <label>Тип дома</label>
                        <select name="type" id="type">
                            <option value="0">новостройка</option>
                            <option value="1">вторичный фонд</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Метраж</label>
                        <input name="footage" type="text"/>
                    </div>

                    <div class="item">
                        <label>Дизайн-проект</label>
                        <select name="design" id="design">
                            <option value="0">да</option>
                            <option value="1">нет</option>
                        </select>
                    </div>

                    <div class="item">
                        <label class="long">Количество комнат</label>
                        <input name="rooms" type="text"/>
                    </div>

                    <div class="item">
                        <label>Пол</label>
                        <select name="floor" id="floor">
                            <option value="0">паркетная доска</option>
                            <option value="1">массив</option>
                            <option value="2">паркет</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Потолки</label>
                        <select name="ceiling" class="long" id="ceiling">
                            <option value="0">покраска</option>
                            <option value="1">подвесные (ГКЛ)</option>
                            <option value="2">натяжные (ПВХ)</option>
                        </select>
                    </div>

                    <div class="item">
                        <label>Стены</label>
                        <select name="walls" class="long" id="walls">
                            <option value="0">покраска</option>
                            <option value="1">обои</option>
                            <option value="2">декоративная штукатурка</option>
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="right-part flr">
                    <div class="item req">
                        <label>Ваше имя <span class="c-red">*</span></label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="item req">
                        <label>Телефон <span class="c-red">*</span></label>
                        <input name="phone" type="text"/>
                    </div>
                    <div class="item">
                        <label>E-mail</label>
                        <input name="email" type="text"/>
                    </div>
                    <div class="item">
                        <label class="long">Удобное время для связи</label>
                        <input name="time" type="text"/>
                    </div>

                    <div class="item">
                        <label class="long">Особые пожелания</label>
                        <textarea name="text"></textarea>
                    </div>


                    <button class="btn fw600 send-form" type="submit">Отправить заявку</button>

                    <input name="action" value="feedback" type="hidden"/>
                    <input name="honey" value="" type="hidden"/>

                    <div class="loader"></div>
                </div>
                <div class="clr"></div>


            </form>
        </div>
    </div>
</div>

<div class="popup" id="callback">
    <div class="inner">


        <div class="left-part fll">
            <img src="{{ STATIC_URL }}images/big1.jpg" width="230" height="230" alt=""/>


            <p class="fw300">С уважением и надеждой быть полезными для Вас</p>

            <p class="fw300">Ирина Решетова,
                Технический директор</p>


        </div>

        <div class="right-part flr">
            <h2 class="fw300">Мы рады, что сможем пообщаться
                с Вами лично</h2>

            <p class="fw300">Пожалуйста, оставьте свои контакты и мы перезвоним
                <br/>в удобное для Вас время</p>

            <div class="form quest-form">
                <form>
                    <div class="item">
                        <label>Ваше имя</label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="item req">
                        <label>Телефон <span class="c-red">*</span></label>
                        <input name="phone" type="text"/>
                    </div>
                    <div class="item">
                        <label>Комментарий</label>
                        <textarea name="comment"></textarea>
                    </div>
                    <input name="action" value="feedback" type="hidden"/>
                    <input name="honey" value="" type="hidden"/>

                    <button class="btn fw600 send-form" type="submit">Заказать обратный звонок</button>
                    <div class="loader"></div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="popup" id="callback_tech">
    <div class="inner">


        <div class="left-part fll">
            <img src="{{ STATIC_URL }}images/tech_dir.jpg" width="230" height="230" alt=""/>


            <p class="fw300">С уважением и надеждой быть полезными для Вас</p>

            <p class="fw300">Ирина Решетова, Технический директор</p>


        </div>

        <div class="right-part flr">
            <h2 class="fw300">Мы рады, что сможем пообщаться
                с Вами лично</h2>

            <p class="fw300">Пожалуйста, оставьте свои контакты и мы перезвоним
                <br/>в удобное для Вас время</p>

            <div class="form quest-form">
                <form>
                    <div class="item">
                        <label>Ваше имя</label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="item req">
                        <label>Телефон <span class="c-red">*</span></label>
                        <input name="phone" type="text"/>
                    </div>
                    <div class="item">
                        <label>Комментарий</label>
                        <textarea name="comment"></textarea>
                    </div>
                    <input name="action" value="feedback" type="hidden"/>
                    <input name="honey" value="" type="hidden"/>

                    <button class="btn fw600 send-form" type="submit">Заказать обратный звонок</button>
                    <div class="loader"></div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="popup review" id="review">
    <div class="inner">
        <h2 class="fw300">Мы рады, что вы хотите оставить объективный<br/> отзыв о нашей работе</h2>

        <div class="form quest-form">
            <form>
                <div class="item req">
                    <label>Ваше имя <span class="c-red">*</span></label>
                    <input name="name" type="text"/>
                </div>
                <div class="item req">
                    <label>Название проекта <span class="c-red">*</span></label>
                    <input name="proj_name" type="text"/>
                </div>
                <div class="item req">
                    <label>Ваша оценка <span class="c-red">*</span></label>
                    <input name="rating" type="hidden"/>
                    <div class="marks">
                        <span class="stars"><span style="width: 100%;" class="ins"></span></span>
                        <span class="stars"><span style="width: 0;" class="ins"></span></span>
                        <span class="stars"><span style="width: 0;" class="ins"></span></span>
                        <span class="stars"><span style="width: 0;" class="ins"></span></span>
                        <span class="stars"><span style="width: 0;" class="ins"></span></span>
                        <span class="rating"> 1 балл</span>
                    </div>
                </div>
                <div class="item req">
                    <label>Комментарий/отзыв</label>
                    <textarea name="text"></textarea>
                </div>
                <input name="action" value="review" type="hidden"/>
                <input name="honey" value="" type="hidden"/>
                <button class="btn fw600 send-form review" type="submit">Оставить отзыв</button>
                <div class="loader"></div>
            </form>
        </div>
    </div>
</div>
<div class="popup" id="ok">
    <div class="inner">
        <h2 class="fw300">Спасибо! Ваша заявка успешно отправлена.</h2>
    </div>
</div>
<div class="popup" id="review_ok">
    <div class="inner">
        <h2 class="fw300">Спасибо! Ваш отзыв успешно отправлен.</h2>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.view_form').submit(function (e) {
            var form = $(this), url;
            var formData = new FormData(form[0]);
            if ($(this).hasClass('bonus')) {
                url = '{% url 'view_object_bonus' %}'
            } else {
                url = '{% url 'view_object' %}'
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.error) {
                        errorSend(data, form)
                    } else {
                        successSend(data, form)
                    }
                }
            })
        })
    })
</script>
{% render_block "js" %}
<script>
    $('.show').click(function (e) {
        e.preventDefault();
        $(this).hide();
        $(this).parent().next().fadeIn()
    })
</script>
<script>
    $('.show-all').click(function (e) {
        e.preventDefault();
        $(this).hide();
        $(this).next().fadeIn()
    });
    </script>
{% block js %}{% endblock %}
{% static_placeholder "counters" %}
</body>
</html>