<div class="{% block class %}about-company {% endblock %}{{ plugin.style|default:'' }}">
    {% if plugin.color and plugin.name %}
        <div class="title {{ plugin.color|default:'' }}">
        <h{{ plugin.h|default:'1' }} class="fw300">{{ plugin.name|safe }}</h{{ plugin.h|default:'1' }}>
        {% if plugin.title %}
            <pre style="font-size: 20px;">{{ plugin.title }}</pre>
        {% endif %}
    </div>
    {% endif %}
    <div class="container">
        {% block name %}{% if plugin.name and not plugin.color %}
            <h{{ plugin.h|default:'1' }}>{{ plugin.name|safe }}</h{{ plugin.h|default:'1' }}>{% endif %}
        {% endblock %}
        {% block main %}
        {% endblock %}
    </div>
</div>
