{% extends 'plugins/base.html' %}
{% load template_tags %}
{% block class %}calculator{% if plugin.design %}  three{% endif %} {% endblock %}
{% block main %}
{% if not plugin.design %}
            <div class="calc flat fll">
                <div class="form">
                    <div class="top">
                        {% if plugin.all_type %}
                            <div class="item fll">
                                <span class="fw600 fll">Тип помещения:</span>
                                <select name="type" id="type">
                                    {% for item in types %}
                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>

                                <div class="clr"></div>
                            </div>
                        {% endif %}
                        <div class="item flr">
                            <span class="fw600 fll">Площадь:</span>
                            <input name="area" value="1" type="text"/>
                            <label>м<sup>2</sup></label>

                            <div class="clr"></div>
                        </div>

                        <div class="clr"></div>

                        <div class="choice">
                            <div class="line"></div>
                            {% for item in repairs %}
                            <div class="item-radio{% if forloop.first %} first{% endif %}{% if forloop.last %}  last flr{% else %} fll{% endif %}">
                                <input{% if forloop.first %} checked{% endif %} name="type_repair" data-price="{{ item.price|floatformat:0 }}" value="{{ item.name }}" id="rad{{ item.id }}" type="radio"/>
                                <label for="rad{{ item.id }}"><span class="icon"><i></i></span><span>{{ item.name|replace:' #<br/>'|safe }}{% if item.text %}<span title="{{ item.text }}" class="faq"></span>{% endif %}</span></label>
                            </div>
                        {% endfor %}
                            <div class="clr"></div>
                        </div>

                    </div>

                    <div class="bottom">
                        <div class="total fll">
                                <span class="fw600 fll">Стоимость работ: <span
                                        class="fw600 c-red calc-price">980 000 руб.</span></span>
                        </div>
                        <button class="btn anim fw600 flr fancy" href="#calc-form-{% if request.get_full_path = "/remont-kvartir/" %}flat{% else %}house{% endif %}" id="getPrice">Получить точную стоимость</button>
                    </div>

                </div>
            </div>
    <script>
    function changeform(){
      var type = $('[name=type]').find(":selected").val();
      if(type=="Коттедж")
        $("#getPrice").attr('href','#calc-form-house');
      else
        $("#getPrice").attr('href','#calc-form-flat')
    }
    function MathTotal(){
        var total = $('[name=type_repair]:checked').data('price') * $('[name=area]').val();
        $('.calc-price').html(accounting.formatNumber(total, 0, ' ') + ' руб.')
    }
    MathTotal();
    changeform();
    $(function(){
        $('[name=area]').keyup(MathTotal);
        $('[name=type_repair]').change(MathTotal);
        $('[name=type]').change(changeform);
    });
    </script>
{% if plugin.links.count %}
            <div class="links fll">
            {% for item in plugin.links.all %}
                <div class="items">
                    <a href="{% if item.url %}{{ item.url }}{% elif item.popup %}#popup{{ item.popup.id }}{% endif %}" class="c-red fw300{% if item.popup %} fancy{% endif %}"><span class="ico {{ item.ico }}"></span>{{ item.name }}</a>
                </div>
                {% if item.popup %}
                <div class="popup" id="popup{{ item.popup.id }}"><div class="inner">{{ item.popup.text|safe }}</div></div>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            <div class="clr"></div>
{% else %}
                <div class="calc designs">
                    <div class="form">
                        <div class="top">
                            <div class="item flr">
                                <span class="fw600 fll">Площадь:</span>
                                <input value="1" name="area" type="text"/>
                                <label>м<sup>2</sup></label>

                                <div class="clr"></div>
                            </div>

                            <div class="clr"></div>

                            <table>
                                <thead>
                                <tr>
                                    <th class="first"></th>
                                    {% for item in tariffs %}
                                    <th><span class="fw600" data-price="{{ item.price|floatformat:0 }}">{{ item.name }}</span></th>
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in services %}
                                <tr>
                                    <td class="first">{{ item.name }}</td>
                                    {% for i in item.els %}
                                        {% if i %}
                                    <td><img src="{{ STATIC_URL }}images/green-gal.png" alt=""/></td>
                                        {% else %}
                                        <td><img src="{{ STATIC_URL }}images/red-cross.png" alt=""/></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <tr class="total">
                                    <td class="first"></td>
                                    {% for i in tariffs %}
                                    <td><span class="fw600">56 000 руб.</span></td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <script>
                            function MathTotal() {
                                var names = $('table thead th span');
                                for (var i=0; i<names.size(); i++){
                                    var total = $('[name=area]').val() * $(names[i]).data('price');
                                    $('.total td span:eq(' + i + ')').html(accounting.formatNumber(total, 0, ' ') + ' руб.');
                                }
                            }
                            MathTotal();
                            $(function () {
                                $('[name=area]').keyup(MathTotal);
                            });
                        </script>

                        <div class="bottom">
                            {{ plugin.html|safe }}
                        </div>

                    </div>
                </div>

    {% endif %}

{% endblock %}
