{% load thumbnail %}
    <div class="certificates">
        <div class="line"></div>
        <div class="h2">
            <h2>{{ plugin.name|safe }}</h2>
        </div>
        <div class="container">
            <div class="slider">
                <ul>
                    {% for item in certs %}
                    <li>
                        <a href="{{ item.image.url }}" class="icon nobord fancy2">
                            {% thumbnail item.image '178x270' as img %}
                            <img width="{{ img.width }}" height="{{ img.height }}" src="{{ img.url }}" alt="{{ item.name }}"/>
                            {% endthumbnail %}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
                <a class="arr prev" href="#"></a>
                <a class="arr next" href="#"></a>
            </div>
        </div>
    </div>