<div class="inpage container">
<div class="form quest-form">
                <form>
                <div class="item">
                    <label>Ваше имя</label>
                    <input name="name" type="text"/>
                </div>
                <div class="item req">
                    <label>Телефон <span class="c-red">*</span></label>
                    <input name="phone" type="text"/>
                </div>
                <div class="item">
                    <label>Комментарий</label>
                    <textarea name="comment"></textarea>
                </div>
                    <input name="action" value="feedback" type="hidden"/>
                    <input name="honey" value="" type="hidden"/>

                <button class="btn fw600 send-form" type="submit">Отправить</button>
                    <div class="loader"></div>
                </form>
</div>
</div>