{% extends 'plugins/base.html' %}
{% block class %}if-you {% endblock %}
{% block name %}{% endblock %}
{% block main %}
            <p class="pfagora"><span>{{ plugin.name }}:</span> <a target="_blank" class="dot" href="{{ plugin.file.url }}">{{ plugin.file_name }}</a></p>
    {% endblock %}