    <form>
        <div class="form">

              {{ plugin.text|safe }}

                <div class="form-item req">
                    <input placeholder="Ваше имя" name="name" type="text"/>
                </div>

                <div class="form-item req">
                    <input placeholder="Телефон" name="phone" class="tel" type="text"/>
                </div>

        <input name="action" type="hidden" value="send_form"/>
        <input name="honey" type="hidden" value=""/>
<div class="wrap">
                <button class="btn send-form" type="submit">Отправить</button>
            <div class="preloader"></div>
    </div>
            </div>
</form>