    <div class="image" {% if plugin.image %} style="background: url('{{ plugin.image.url }}');  background-size: cover;"{% endif %}>
            <div class="container">
                <div class="lp fll">
                    {{ plugin.name|safe }}

                    <a href="#call-back" class="btn fancy">Заказать</a>
                </div>
                {% if plugin.text %}
                <div class="rp flr">

                    <div class="ins">

                        {{ plugin.text|safe }}

                    </div>
                </div>
                {% endif %}
            </div>
        </div>