{% extends 'plugins/base.html' %}
{% load thumbnail %}
{% block class %}diploms {% endblock %}
{% block main %}

    <div class="arr prev prev2"></div>

    <div class="inner">
        <ul>
            {% for item in licences %}
                <li>
                    {% thumbnail item.image '280x410' as small %}
                        {% thumbnail item.image '540x782' as big %}
                            <a rel="gal1" href="#sert{{ item.id }}" class="img fancy2">
                                <img src="{{ small.url }}" width="{{ small.width }}" height="{{ small.height }}"
                                     alt="{{ item.name }}"/>
                            </a>

                            <em>{{ item.desc|default:''|safe }}</em>

                            <div id="sert{{ item.id }}" class="popup no-bg">
                                <img src="{{ big.url }}" width="{{ big.width }}" height="{{ big.height }}"
                                     alt="{{ item.name }}"/>

                                <em>{{ item.desc|default:''|safe }}</em>
                            </div>
                        {% endthumbnail %}
                    {% endthumbnail %}
                </li>
            {% endfor %}

        </ul>

        <div class="clr"></div>
    </div>

    <div class="arr next next2"></div>

{% endblock %}
