<div class="serv-menu anim">
        <div class="container">
            <ul>
                {% for item in plugin.pages.all %}
                <li class="item{{ forloop.counter }}"><a href="{{ item.get_absolute_url }}"><i></i>{{ item.get_title }}</a></li>
                {% endfor %}
            </ul>
            <div class="clr"></div>
        </div>
    </div>