{% load template_tags %}
{% if paginator.num_pages > 1 %}
    <div class="pager anim fll">
            {% for page in pager %}
                <a href="?page={{ page }}"{% if page == page_obj.number %} class="active{% endif %}">{{ page }}</a>
            {% endfor %}
    </div>

                <div class="amount flr">
                    <span class="fw300 fll">Объектов на странице:</span>
                    <select name="amount" id="amount">
                        {% for i in amount_list %}
                        <option{% if i == amount|parse_int %} selected{% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
{% endif %}