{% extends 'plugins/base.html' %}
{% load thumbnail %}
{% block class %}comand {% endblock %}
{% block main %}
    {% for item in plugin.commands.all %}
    <div class="member fll{% cycle '' '' ' r-pop' ' r-pop' %}">
                    <div class="ins">
                        {% thumbnail item.image '230x230' as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}">
                        {% endthumbnail %}
                        <span class="name">{{ item.name }}</span>

                        <p>{{ item.post|default:'' }}</p>
                        {% if item.stage %}<p class="c-red">Стаж: {{ item.stage }}</p>{% endif %}
                    </div>
                    {% if item.text %}
                        <div class="member-more">
                            {% thumbnail item.image2 '261x343' as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" class="{% cycle 'fll' 'fll' 'flr' 'flr' %}" height="{{ img.height }}" alt="{{ item.name }}"/>
                            {% endthumbnail %}
                            <div class="inf fll">
                                <span class="nam">{{ item.name }}</span>

                                <p>{{ item.post|default:'' }}</p>
                                {% if item.stage %}<span class="stage">Стаж: {{ item.stage }}</span>{% endif %}
                               {{ item.text|safe }}
                            </div>
                            <div class="clr"></div>
                        </div>
                    {% endif %}

                </div>
    {% endfor %}

                <div class="clr"></div>

                <a href="{% url 'commands' %}" class="btn fw600">Показать всех специалистов</a>

{% endblock %}