{% extends 'plugins/base.html' %}
{% load thumbnail %}
{% block class %}news {% endblock %}
{% block main %}
{% for item in posts %}
            <div class="block">
            {% if item.image %}
                <a href="{{ item.get_absolute_url }}" class="img fll">
                    {% thumbnail item.image '182x161' as img %}
                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}"/>
                    {% endthumbnail %}
                </a>
                {% endif %}

                <div class="inf">
                    <em>{{ item.data|date:'d.m.Y' }}</em>
                    <a href="{{ item.get_absolute_url }}">
                        {{ item.name }}
                    </a>
                </div>
            </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    <div class="clr"></div>
    {% endif %}
            {% endfor %}

{% endblock %}