{% load template_tags cms_tags thumbnail pytils_numeral %}
<div class="flats repair">
        <div class="container">
            <h1>{% page_attribute 'title' %}</h1>
        {% if top_title %}
            <pre>{{ top_title }}</pre>
        {% endif %}
        {% if plugin.top_title %}
            <pre style="margin-bottom: 20px;">{{ plugin.top_title }}</pre>
        {% endif %}
            <div class="hide-inf">
                <span class="name fw600">{{ object.name }}</span>

                <div class="info">
                    {% if object.area %}
                        <div class="item fll">
                            <span class="fw300">площадь</span>
                            <span class="c-red">{{ object.area }} м <sup>2</sup></span>
                        </div>
                    {% endif %}
                    {% if object.price %}
                        <div class="item fll">
                            <span class="fw300">стоимость работ</span>
                            <span class="c-red">{{ object.price }}</span>
                        </div>
                    {% endif %}
                    {% if object.limit %}
                        <div class="item fll">
                            <span class="fw300">срок</span>
                            <span class="c-red">{{ object.limit }}</span>
                        </div>
                    {% endif %}
                    <div class="clr"></div>
                </div>
            </div>

            <div class="left-part fll">
                {% if object.image %}
                    <div class="big-photo">
                        {% thumbnail object.image '570x394' crop="center" as img %}
                            {% thumbnail object.image '1200' upscale=False as big %}
                                <a href="{{ big.url }}" rel="obj{{ object.id }}" class="fancy2">
                                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
                                         alt="{{ object.name }}"/>
                        <span class="over">
                            <span class="inset">
                            </span>
                        </span>
                                </a>
                            {% endthumbnail %}
                        {% endthumbnail %}
                    </div>
                {% endif %}
                {% if object.images.count %}
                    <div class="thumbnails">
                        {% for item in object.images.all %}
                            {% thumbnail item.image '126x94' crop="center" as img %}
                                {% thumbnail item.image '1200' upscale=False as big %}
                                    <a {% if forloop.counter > 8 %}style="display: none;" {% endif %} class="fancy2" href="{{ big.url }}" rel="obj{{ object.id }}">
                                    {% if forloop.counter < 9 %}
                                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
                                             alt=""/>
                                        <span class="over"><span class="ins"></span></span>
                                     {% endif %}
                                    </a>
                                {% endthumbnail %}
                            {% endthumbnail %}
                             {% if forloop.counter < 9 %}
                            {% if forloop.counter|divisibleby:4 or forloop.last %}
                                <div class="clr"></div>
                            {% endif %}
                            {% endif %}

                        {% endfor %}

                    </div>
                {% endif %}

                <div class="hide-links oth">
                    <p><a class="c-red" href="#" onclick="$('.thumbnails a:first').click(); return false;">Смотреть все
                        фото</a> ({{ object.images.count }})</p>
                </div>
                {% if object.design %}
                    <div class="hide-part oth">

                        <a href="#" onclick="$('.hide.thumbnail a:first').click(); return false;" class="red des dot">Дизайн проект</a>
                    </div>


                    <div class="blue-bg project">
                        {% if object.design.images.count %}
                            <div class="hide-part">

                                <a href="#" onclick="$('.hide.thumbnail a:first').click(); return false;"
                                   class="red des dot">Дизайн проект</a>
                            </div>

                            <p class="see-more"><a href="#"
                                                   onclick="$('.hide.thumbnail a:first').click(); return false;"
                                                   class="c-red">Смотреть все фото</a> ({{ object.design.images.count }})
                            </p>
                            <div class="hide thumbnail">
                                {% for item in object.design.images.all %}
                                    {% thumbnail item.image '800' upscale=False as img %}
                                        <a href="{{ img.url }}" rel="design{{ object.id }}" class="fancy2"></a>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% thumbnail object.design.image '234x167' crop="center" as img %}

                            <a href="#" onclick="$('.hide.thumbnail a:first').click(); return false;">
                              <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt=""
                                 class="fll"/>
                               </a>
                        {% endthumbnail %}

                        <div class="inf">
                            <span class="fw600">Дизайн проект</span>

                            {% if object.design.images.count %}
                                <p><a href="#" onclick="$('.hide.thumbnail a:first').click(); return false;"
                                      class="c-red">Смотреть все фото</a> ({{ object.design.images.count }})
                                </p>{% endif %}
                        </div>

                    </div>
                {% endif %}
            </div>
            <div class="right-part flr">
                    <span class="name fw600">
                        {{ object.name }}
                    </span>

                <div class="info">
                    {% if object.area %}
                        <div class="item fll">
                            <span class="fw300">площадь</span>
                            <span class="c-red">{{ object.area }} м <sup>2</sup></span>
                        </div>
                    {% endif %}
                    {% if object.price %}
                        <div class="item fll">
                            <span class="fw300">стоимость работ</span>
                            <span class="c-red">{{ object.price }}</span>
                        </div>
                    {% endif %}
                    {% if object.limit %}

                        <div class="item fll">
                            <span class="fw300">срок</span>
                            <span class="c-red">{{ object.limit }}</span>
                        </div>
                    {% endif %}
                    <div class="clr"></div>
                </div>

                <div class="blue-bg designer">
                    {% if object.person %}
                    <div class="img flr">
                        {% if object.person.image %}
                            {% thumbnail object.person.image '170x180' as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ object.person.name }}"/>
                            {% endthumbnail %}
                        {% endif %}

                        <div class="datum">
                            <span>{{ object.person.name }}</span>

                            <p>{{ object.person.post|default:'' }}</p>

                            {% if object.person.stage %}<p class="c-red">Стаж: {{ object.person.stage }}</p>{% endif %}
                        </div>
                    </div>
                {% endif %}
                    <div class="inf">

                        {{ object.text|safe }}
                        {% if object.final_images.count %}
                            {% for item in object.final_images.all %}
                                {% thumbnail item.image '1200' upscale=False as img %}
                        {% if forloop.first %}<a href="{{ img.url }}" rel="final{{ obj.id }}" class="dash c-red fancy2">Смотреть планировку (было/стало)</a>
                                {% else %}
                            <a class="fancy2" href="{{ img.url }}" rel="final{{ obj.id }}"></a>
                                {% endif %}

                                {% endthumbnail %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="clr"></div>


                </div>
{% if object.schtick %}
                <div class="chip">
                    <span class="fw600">Фишка проекта</span>

                    {{ object.schtick|safe }}
                    <div class="clr"></div>
                </div>
            {% endif %}
{% if object.review %}
                <div class="respond">
                        <span class="fw600">
                            Отзыв заказчика
                        </span>

                    <div class="inf">
                        <div class="original">
                        {{ object.review.text|truncatechars_html:300|safe }}
                        <a href="#"
                                                                                                        class="c-red dot show">Читать
                            далее</a>
                            </div>
                        <div class="hide">
                            {{ object.review.text|safe }}
                        </div>

                        <div class="author">
                            <span class="c-blue">{{ object.review.name }}</span>
                        </div>


                        <div class="hide-links">
                            <a href="/reviews/" class="red dash">Еще отзывы</a>
                        </div>

                    </div>
                </div>
            {% endif %}

            </div>
            <div class="clr"></div>
        </div>
    </div>
{% if object.secrets.count %}
    <div class="title green">
        <h2>{{ object.secrets.count|get_plural:'секрет, секрета, секретов' }} проекта</h2>
    </div>
    {% if bottom_title %}<div style="width: 100%; text-align: center"><pre>{{ bottom_title }}</pre></div>{% endif %}
    {% if plugin.bottom_title %}<div style="width: 100%; text-align: center"><pre>{{ plugin.bottom_title }}</pre></div>{% endif %}
    <div class="secrets">
        <div class="container">
            {% for item in object.secrets.all %}
                {% if forloop.counter == 5 %}
            <a href="#" class="btn fw600 show-all">Показать ещё {{ object.secrets.count|minus:4|get_plural:'секрет, секрета, секретов' }}</a>
                <div class="hide">
                {% endif %}
            <div class="block fll">
            {% if item.images.count %}
                <div class="img fll">
                {% for i in item.images.all %}
                    {% thumbnail i.image '1200' upscale=False as big %}
                    {% if forloop.first %}
                    {% thumbnail i.image '234x167' as img %}
                    <a href="#" onclick="$('a.fancy2[rel=secret{{ item.id }}]').eq(0).trigger('click'); return false;"><img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}"/></a>

                    <p><a href="{{ big.url }}" rel="secret{{ item.id }}" class="c-red fancy2">Смотреть все фото</a> ({{ item.images.count }})</p>
                    {% endthumbnail %}
                    {% else %}
                    <a href="{{ big.url }}" rel="secret{{ item.id }}" class="fancy2 hide"></a>
                       {% endif %}
                    {% endthumbnail %}
                {% endfor %}
                </div>
                {% endif %}

                <div class="inf">
                    <span class="fw600">{{ item.name }}</span>

                    <p>
                       {{ item.text }}
                    </p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
                <div class="clr"></div>
                {% endif %}
                {% if forloop.last and forloop.counter > 4 %}
                </div>
                {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}
