{% extends 'plugins/base.html' %}
{% load thumbnail template_tags %}
{% block class %}respondes{% endblock %}
{% block main %}
    {% for item in plugin.reviews.all %}
                <div class="resp fll">
                {% if item.image %}
                    <div class="img fll">
                        <div class="ins">
                            {% thumbnail item.image '260x190' as img %}
                            {% thumbnail item.image '1200' upscale=False as big %}

                            <a href="{{ big.url }}" rel="gal{{ item.id }}" class=" fancy2"><img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}"/></a>
                            {% endthumbnail %}
                            {% endthumbnail %}
                            
                            {% if item.images.count %}
                                {% for image in item.images.all %}
                                    {% if forloop.first %}
                                <a href="{{ image.image.url }}" rel="gal{{ item.id }}" class="c-red fancy2">Смотреть фото объекта</a> <span>({{ item.images.count }})</span>
                                    {% else %}
                                        <a href="{{ image.image.url }}" rel="gal{{ item.id }}" class="hide fancy2"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="txt">
                        <div class="marks"  style="text-align: right; margin-bottom: 5px">
                            <div class="author">{{ item.name }}</div>
                            <span>Оценка:</span>
                            <span class="stars"><span style="width: {{ item.rating|multiply:20 }}%;" class="ins"></span></span>
                        </div>
                        <span class="name">
                           {{ item.proj_name|default:'' }}
                        </span>

                      <div class="original">
                        {{ item.text|truncate_p:1|safe }}
                        <a href="#" class="c-red dot show">Читать
                            далее</a>
                            </div>
                        <div class="hide">
                            {{ item.text|safe }}
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
    <div class="clr"></div>
        {% endif %}
    {% endfor %}




                <div class="buttons">
                    <a href="/reviews/" class="btn anim fw600">Все отзывы</a>
                    <a href="#review" class="btn anim green fancy fw600">Оставить отзыв</a>
                </div>
{% endblock %}
