<div class="slider">
{% load thumbnail %}

    <div class="container">
        <h3 class="fw300 fll">Наши свежие работы</h3>
        <a href="{% url 'projects' %}" class="btn green anim fw600 flr">Все работы</a>
    </div>
    <ul>
        {% for item in plugin.sliders.all %}
        <li>
        {% thumbnail item.get_prev.image '375x457' crop="center" as prev %}
            <div class="thumb prev"><img style="opacity: 0.2" src="{{ prev.url }}" width="{{ prev.width }}" height="{{ prev.height }}" alt=""/></div>
        {% endthumbnail %}
            {% thumbnail item.get_next.image '375x457' crop="center" as next %}
            <div class="thumb next"><img style="opacity: 0.2" src="{{ next.url }}" width="{{ next.width }}" height="{{ next.height }}" alt=""/></div>
            {% endthumbnail %}

            <div class="inner">
                <div class="big-photo">
                    {% thumbnail item.image '1170x557' as img %}
                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt=""/>
                    {% endthumbnail %}

                    <div class="info">
                        <div class="block fll">
                            <div class="ins">
                                    <span class="fw300 name">{{ item.name|default:''|safe }}</span>
                            </div>
                        </div>

                        <div class="block flr">
                            <div class="ins">
                                {% if item.area %}
                                <div class="item">
                                    <span class="magnitude">площадь</span>
                                    <span class="c-red">{{ item.area }} м<sup>2</sup></span>
                                </div>
                                {% endif %}
                            {% if item.price %}
                                <div class="item">
                                    <span class="magnitude">стоимость работ</span>
                                    <span class="c-red">{{ item.price }}</span>
                                </div>
                            {% endif %}
{% if item.limit %}
                                <div class="item">
                                    <span class="magnitude">срок</span>
                                    <span class="c-red">{{ item.limit }}</span>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
    <div class="clr"></div>

    <div class="shad"></div>
    <div class="arr prev"></div>
    <div class="arr next"></div>
</div>