{% extends 'plugins/base.html' %}
{% block class %}{% if plugin.column %}questions {% else %}sovets {% endif %}{% endblock %}
{% block main %}
    {% if plugin.column %}
    {% for item in plugin.items.all %}
            <div class="block">
                <h4 class="orange">{{ item.name|safe }}</h4>
<div class="orange-dot">
                {{ item.text|safe }}
</div>
            </div>
           {% endfor %}
    {% else %}
{% for item in plugin.items.all %}
            <div class="double-block">
                <div class="block fll">
                    <h3 class="orange">
                        {{ item.name|safe }}
                    </h3>
                </div>

                <div class="block flr">
                    {{ item.text|safe }}
                </div>
            </div>
    {% endfor %}

{% endif %}
   {{ plugin.text_after|default:''|safe }}
{% endblock %}