{% extends 'plugins/base.html' %}
{% block class %}benefits {% endblock %}
{% block main %}
    {% for item in plugin.teasers.all %}
            <div class="block">
                <div class="i {{ item.ico|default:'' }}"></div>
                <span class="fw600">{{ item.name }}</span>

                <p>
                    {{ item.text|safe }}
                </p>
            </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    <div class="clr"></div>
    {% endif %}
    {% endfor %}

{% endblock %}