
{% load template_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

</head>
<body style="font-family: 'Arial', sans-serif; font-size: 12px;">
<table style="font-family: 'Arial', sans-serif; color: #000; font-size: 12px;" width="600" align="center"
       cellspacing="0"
       cellpadding="0">
    <tr>
        <td style=" padding-top:  20px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td><a href="#"><img src="http://{{ site }}{{ STATIC_URL }}images/logo.png" width="165" height="105"
                                         border="0"
                                         border="0"
                                         alt=""/></a></td>

                    <td valign="top" style="font-size: 13px; color: #000; padding-top: 5px;">
                        <span style="display: block; font-size: 18px; margin-bottom:  13px;">Телефон:</span>
                      +7 (495) 517-75-28


                    </td>
                    <td valign="top" style="font-size: 13px; color: #000; padding-top: 5px;">
                       <a style="color: #ce312d;" href="mailto:clients@remont-nts.ru">clients@remont-nts.ru</a> – по вопросам дизайна и ремонта<br/>

                        <a style="color: #ce312d;" href="mailto:offers@remont-nts.ru">offers@remont-nts.ru</a> – по вопросам сотрудничества<br/>



                      107113, г. Москва,<br/> ул. Сокольническая пл., д. 4А.
                    </td>
                </tr>
            </table>
    {% block mail %}

    {% endblock %}
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="text-align: center; padding: 20px 0; color: #000">
                        <span style="display: block; text-align: center; font-size: 11px; margin-bottom: 10px;">© {% now 'Y' %}
    <a style="color: #ce312d;" href="http://{{ site }}/">Компания «Никстест-строй».</a> Делаем ремонт как для себя! </span>
                        <span style="display: block; text-align: center; font-size: 11px; margin-bottom: 10px;">Все права защищены.</span>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</body>
</html>