{% extends 'mail/base.html' %}
{% block mail %}


    <table style="width: 100%;">
                <tr>
                    <td style="vertical-align: top;">
                        <h2 style=" font-size: 24px; font-weight: 600; padding: 0;">Визитка компании</h2>

                        <p>Здравствуйте!</p>

                        <p>Вы заходили к нам на <a
                                style="color: #cc3333; border-bottom: 1px solid #f0c1c1; text-decoration: none;"
                                href="http://{{ site.domain }}">сайт</a> и выразили <br/> желание сохранить координаты нашей <br/> компании в
                            своей
                            электронной почте.</p>

                        <p> Спасибо Вам за доверие. <br/>

                            Надеемся быть Вам полезными!</p>
                    </td>
                    <td style="vertical-align: top; text-align: right;">
                        <p style="font-size: 18px; line-height: 40px; margin:  0; padding: 90px 0 0;">
                            <a style="color: #cc3333; border-bottom: 1px solid #f0c1c1; text-decoration: none;"
                               href="http://{{ site.domain }}/bankrotstvo-fizlica/">Банкротство физлица</a><br/>
                            <a style="color: #cc3333; border-bottom: 1px solid #f0c1c1; text-decoration: none;"
                               href="http://{{ site.domain }}/bankrotstvo-yurlica/">Банкротство юрлица</a><br/>
                            <a style="color: #cc3333; border-bottom: 1px solid #f0c1c1; text-decoration: none;"
                               href="http://{{ site.domain }}/likvidaciya-yurlica/">Ликвидация юрлица</a>
                        </p>
                    </td>
                </tr>
            </table>
    <table style="width: 100%; background: #fff6e3;">
                <tr>
                    <td style="padding: 20px 30px 0;"><strong
                            style="font-size: 18px; font-weight: 600;">Телефон:</strong></td>
                    <td style="padding: 20px 30px 0;"><strong style="font-size: 18px;">+7 (495) 032-88-88</strong></td>
                </tr>

                <tr>
                    <td style="padding: 20px 30px 0;"><strong style="font-size: 18px; font-weight: 600;">Сайт:</strong>
                    </td>
                    <td style="padding: 20px 30px 0;"><a
                            style="color: #cc3333; border-bottom: 1px solid #f0c1c1; text-decoration: none; font-size: 18px;"
                            href="http://{{ site.domain }}">{{ site.domain }}</a></td>
                </tr>
                <tr>
                    <td style="padding: 20px 30px 20px;"><strong style="font-size: 18px; font-weight: 600;">Работаем:</strong></td>
                    <td style="padding: 20px 30px 20px; font-size: 18px;"><span>Москва, м. Ленинский проспект<br/>9:00 — 19:00</span></td>
                </tr>
            </table>

{% endblock %}