{% extends 'mail/base.html' %}
{% load template_tags %}
{% block mail %}
            <table cellpadding="0" cellspacing="0" width="100%" style="color: #000">
                <tr>
                    <td style="border:  1px solid #dddcdc; background: #fff; padding:  15px;">
                        <h1 style="font-size: 28px; padding: 0; margin:  0 0 20px; font-weight: normal;">Здравствуйте, на сайте {{ site }} поступила новая заявка.</h1>

                      {% if form.name %}  <p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Имя:</span>{{ form.name }}
                        </p>{% endif %}

                        {% if form.phone %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Телефон:</span>{{ form.phone }}
                        </p>{% endif %}

                        {% if form.email %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">E-mail:</span>{{ form.email }}
                        </p>{% endif %}
                        {% if form.path %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Со страницы:</span>{{ form.path }}
                        </p>{% endif %}

                        {% if form.comment %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Комментарий:</span><br/>{{ form.comment }}
                        </p>{% endif %}

                    </td>

                </tr>
            </table>

{% endblock %}