{% extends 'mail/base.html' %}
{% load template_tags %}
{% block mail %}
            <table cellpadding="0" cellspacing="0" width="100%" style="color: #000">
                <tr>
                    <td style="border:  1px solid #dddcdc; background: #fff; padding:  15px;">
                        <h1 style="font-size: 28px; padding: 0; margin:  0 0 20px; font-weight: normal;">Здравствуйте, на сайте {{ site }} поступил новый отзыв.</h1>

                      {% if form.name %}  <p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Имя:</span>{{ form.name }}
                        </p>{% endif %}

                        {% if form.proj_name %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Название проекта:</span>{{ form.proj_name }}
                        </p>{% endif %}

                        {% if form.rating %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Оценка:</span>{{ form.rating }}
                        </p>{% endif %}

                        {% if form.text %}<p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">Отзыв:</span><br/>{{ form.text }}
                        </p>{% endif %}

                    </td>

                </tr>
            </table>

{% endblock %}