{% extends 'mail/base.html' %}
{% load template_tags %}
{% block mail %}
    <table cellpadding="0" cellspacing="0" width="100%" style="color: #000">
        <tr>
            <td style="border:  1px solid #dddcdc; background: #fff; padding:  15px;">
                <h1 style="font-size: 28px; padding: 0; margin:  0 0 20px; font-weight: normal;">Здравствуйте, на сайт {{ site }} поступила новая заявка на просмотр объекта.</h1>

                <p style="margin:  0 0 15px; color: #575757; padding: 0;"><span
                        style="margin-right:  10px;">Телефон:</span>{{ phone }}
                </p>
            </td>

        </tr>
    </table>
{% endblock %}