.burger {
    background: #fff url("../images/burger.png") no-repeat center center;
    width: 45px;
    height: 25px;
    padding: 15px 10px 10px;
    border: 1px solid #e4e8eb;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    float: right;
    display: none;
    cursor: pointer;
}

.burger:hover {
    border-color: #333;
}

.hide-inf {
    display: none;
}

.hide-part {
    text-align: center;
    margin-bottom: 30px;
    display: none;
}

.hide-part a {
    font-weight: 600;
    border-bottom: 1px dotted #ce312d;
    color: #ce312d;
    font-size: 28px;
}

.hide-part a:hover {
    border-color: transparent;
}

.container {
    width: auto;
    max-width: 1170px;
}

.front .calc {
    width: auto;
    max-width: 864px;
}

.serv-menu .container {
    width: auto;
    max-width: 1168px;
}

.hide-price table td:before{
    display: none;
}

.hide-links a{
    color: #ce312d;
    border-bottom: 1px dotted #ce312d;
}

.hide-links a:hover{
    color: #333;
    border-color: #333;

}

.hide-links{
    text-align: center;
    padding-top: 35px;
    display: none;
}

.see-more{
    display: none;
}

.hide-part.oth{
    display: none;
}

.made.hide{
  display: none;
}

@media (max-width: 1210px) {
    .container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .serv-menu li + li {
        border-left: 0;
        margin-left: 20px;
    }

    .serv-menu .container {
        border-left: 0;
        border-right: 0;
    }

    .burger {
        display: block;
    }

    .material-menu-wrapper .top-menu + .serv-menu {
        display: none;
    }

    .material-menu-wrapper {
        background: #fff;
        z-index: 1000000 !important;
    }

    .material-menu-view-mobile {
        background-color: #fff;
        -webkit-box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
    }

    .material-menu-titlebar {
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .top-menu > ul > li {
        float: none;
        margin-bottom: 15px;
        padding: 0 20px;
    }

    .top-menu > ul > li + li {
        border-left: 0;
    }

    .top-menu {
        border: 0;
    }

    .top-menu > ul > li ul {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        border: 0;
        display: block;
        padding: 10px 0 0;
    }

    .top-menu > ul > li li {
        text-align: left;
        padding-left: 15px;
    }

    .serv-menu li a {
        height: auto;
        padding: 15px !important;
        text-align: center;
        overflow: hidden;
        width: auto !important;

    }

    .serv-menu i {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        margin: 0 auto 10px;
    }

    .serv-menu .container {
        height: 101px;
        text-align: center;
    }

    .serv-menu li {
        float: none;
        display: inline-block;
        height: auto;
        width: auto !important;
    }

    .serv-menu li a span {
        display: none;
    }

    .slider {
        display: none;
    }

    .benefits .block, .benefits .block + .block {
        float: none;
        margin: 0 auto 30px;
    }

    .benefits .block + .block {
        margin: 0 auto 30px;
    }

    .consult .pink-bg {
        background-image: none;
        margin: 0 -10px;
        border-radius: 0;
        padding: 45px 10px;
        height: auto;
        overflow: auto;
    }

    .consult .left-part, .consult.two .pink-bg .left-part {
        text-align: left;
        width: 50%;
        padding-top: 0;
    }

    .consult .right-part, .consult.two .pink-bg .right-part {
        text-align: right;
        width: 50%;
        padding-top: 0;
    }

    .consult .left-part .btn {
        float: left;
    }

    .consult.two .pink-bg .right-part .btn {
        float: right;

    }

    .front .calculator .links {
        display: none;
    }

    .front .calc {
        float: none;
        max-width: inherit;
        margin: 0 -10px;
        border-radius: 0;

    }

    .front .calc .line {
        max-width: 560px;
    }

    .front .calc .choice {
        max-width: 620px;
        margin: 0 auto;
    }

    .consult .container {
        padding-top: 80px;
    }

    .front .calc .item-radio + .item-radio {
        margin-left: 165px;
    }

    .anim, .anim a, .anim a span {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    .comand .item1, .comand .item2 {
        display: inline-block;

    }

    .comand .container {
        text-align: center;
    }

    .member {
        margin-left: 70px !important;
    }

    .respondes .resp {
        width: 100%;
        float: none;
    }

    .respondes .resp + .resp {
        margin-left: 0;
        padding-top: 60px;
    }

    .gray-line {
        display: none;
    }

    .secrets+.consult.three .container {
        padding-bottom: 80px;
    }

    .about-company .blue-bg {
        margin: 0 -10px;
        border-radius: 0;
    }

    .comand .container, .contacts .container {
        padding-bottom: 60px;
    }

    .print {
        display: none;
    }

    .contacts .block {
        float: none;
        width: 100%;
    }

    .repair .left-part, .repair .right-part {
        float: none;
        margin: 0 auto 40px;
    }

    .hide-inf {
        display: block;
        max-width: 570px;
        margin: 0 auto;
    }

    .repair .right-part .name, .repair .right-part .info {
        display: none;
    }

    .secrets .block {
        float: none;
        width: 100%;
        overflow: auto;
        padding-bottom: 50px;
    }

    .secrets .block + .block {
        margin-left: 0;
    }

    .secrets .inf {
        width: auto;
        float: none;
        margin-left: 260px;
    }

    .calc table {
        margin-right: 0;
    }

    .design-projects .project .left-part, .design-projects .project .right-part {
        float: none;
        margin: 0 auto;
        width: auto;
        max-width: 570px;
        overflow: auto;

    }

    .design-projects .project .right-part{
        padding-top: 20px;
    }

    .masters .member{
        width: 100%;
        float: none;
        height: auto;
    }

    .masters .member+.member{
        margin-left: 0;
    }

    .masters .member .member-more{
        display: block !important;
        width: auto;
        height: auto;
        position: relative;
        left: auto;
        top: auto;


    }

    .masters .member .ins{
        display: none;
    }

    .masters .member .member-more img{
        float: left !important;

    }

    .masters .container{
        padding-bottom: 30px;
    }

    .masters .member .member-more .inf{
        float: none;
        margin-left: 280px;
        width: auto;
    }

    .partner{
        width: 48%;
    }

    .partner+.partner{
        margin-left: 4%;
    }

    .partner .inf{
        width: auto;
        float: none;
        margin-left: 290px;
    }

    .partners .container{
        padding-bottom: 10px;
    }

    .respondes-list .container{
        padding-bottom: 0;
    }


}

@media (max-width: 1060px) {
    .footer .left-part {
        float: none;
    }

    .footer .right-part {
        float: none;
    }



    .footer-menu ul {
        float: left;
    }

}

@media (max-width: 1024px) {
    .comand .container {width: 768px;}
    .member.r-pop .member-more .inf {float: right;}
    .member-more .inf{width: 490px;}
    .comand .member:nth-child(4), .comand .member:nth-child(1) {display: none}
    .consult.see_object input, .consult.see_object button {width: 100%!important;}
    .calc.designs {
        width: 98%;
        margin: 0 auto;
    }

    .calc.designs table {
        width: 100%;
    }

    .calc.designs .btn {
        margin: 0;
    }

    .calc.designs .bottom {
        padding: 40px 15px;
    }

    .calc.designs .call {
        float: right;
    }

    .calc.designs table .first {
        width: 35%;
    }

    .partner{
        width: 100%;
        float: none;
    }

    .partner + .partner{
        margin-left: 0;
    }

}

@media (max-width: 960px){
    .logo img{
        width: 261px !important;
        height: auto !important;
    }

    .graf{
        padding-left: 40px;
    }
}

@media (max-width: 900px){
    .popup .left-part{
        display: none;
    }

    .popup .right-part{
        width: auto;
        float: left;
    }

    .popup{
        max-width: 450px;
        width: auto;
    }

    .popup .quest-form .btn{
        margin: 0 auto;
    }

    .popup .quest-form label{
        padding-top: 0;
        margin-bottom: 5px;
        float: none;
    }
}

@media (max-width: 850px) {
    .consult.see_object .text{width: 85%}
    .consult.see_object .content{padding: 0}
    .header .phone {
        font-size: 27px;
    }

    .graf {
        padding-left: 20px;
    }

    .front .calc span.fw600 {
        float: none;
        padding-top: 0;
        margin-bottom: 5px;
    }

    .front .calc .bottom {
        padding: 40px 30px;
    }

    .about-company .block + .block {
        margin-left: 70px;
    }

    .consult.three .item {
        display: block;
        text-align: center;
    }

    .consult.three .item + .item {
        margin-left: 0;
        padding-top: 15px;
    }

    .tabs li a{
        background: none;
        padding: 0;

    }

    .tabs li.active a{
        background: none;
        color: #ce312d;
        border-color: transparent;
    }

    .tabs li{
        margin-bottom: 10px;
    }

    .tabs{
        padding-bottom: 20px;
    }

    .hide-price table th:first-child{
        width: 50%;
    }

    .hide-price table td{
        vertical-align: top;
    }
}

@media (max-width: 768px){
    .member-more .inf{width: 380px;}
    .consult.see_object .pink-bg{background-image: none}
    .consult.form .right{width: 40%}
    .calc{width: 100%}
    .project span.fw600{
        display: none;
    }
    .repair .left-part img{
        display: block;
        float: none;
        margin: 0 auto;
    }

    .hide-part{
        display: block;
        margin-bottom: 15px;
    }

    .project .hide-part{
        padding-bottom: 10px;
    }

    .project .inf{
        margin-left: 0;
        text-align: center;
        padding-top: 10px;
        display: none;
    }


    .calculator .links{
        display: none;
    }

    .design-projects + .respondes{
        display: none;
    }

    .calculator .container{
        padding-bottom: 80px;
    }

    .secrets .container{
        padding-bottom: 0;
    }

    .design-projects + .respondes +.consult.three .container{
        padding-top: 0;
    }

    .hide-links{
        display:  block;
    }

    .hide-links.oth{
        display: none;
    }

    .made{
        display: none;
    }

    .made.hide{
        display: block;
    }

    .footer .soc{
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .price .obj{width: 100%; margin-bottom: 30px;}
    .consult.form .left, .consult.form .right{width: 100%; text-align: center}
    .consult.form .right{border: none}
    .consult.form .right input, .consult.form .right button {margin: 10px 0}
    .consult.form .left .phone{text-align: inherit}
    .calculator {display: none}
    .respondes {display: none}
    .comand {display: none}
    .logo {
        float: none;
        width: 261px;
        margin: 0 auto;
    }

    .header .left-part {
        float: none;
    }

    .header .right-part {
        float: none;
    }

    .graf {
        float: none;
        text-align: center;
        margin: 0 auto 22px;
        padding-left: 0;
        padding-top: 0;
    }

    .graf span, .c-inf span {
        text-align: center;
    }

    .graf .btn {
        margin: 0 auto;
    }

    .c-inf {
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    .burger {
        float: none;
        border-bottom: 1px solid #e4e8eb;
        border-radius: 5px;
        margin: 0 auto;
    }

    .serv-menu {
        display: none;
    }

    .material-menu-wrapper .top-menu + .serv-menu {
        display: block;
        height: auto;
        background: none;
        border: 0;
    }

    .serv-menu .container {
        height: auto;
        padding-bottom: 20px;

    }

    .serv-menu li + li {
        margin-left: 0;

    }

    .serv-menu li {
        display: block;
    }

    .serv-menu li a {
        width: auto;
        display: block;
        border-radius: 5px;
    }

    .consult .left-part {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .consult .left-part .btn {
        float: none;
        margin: 15px auto 20px;
    }

    .consult .right-part {
        float: none;
        text-align: center;
        width: auto;

    }

    .benefits .i {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 auto 30px;
    }

    .benefits .block span {
        text-align: center;
    }

    .benefits .block {
        width: auto;
        max-width: 450px;
        padding-left: 0;
    }

    .calculator .calc{
        width: 100%;
    }

    .consult.two .pink-bg .left-part {
        width: 100%;
        float: none;
        text-align: center;
    }

    .consult.two .pink-bg .right-part {
        float: none;
        width: 100%;
    }

    .consult.two .pink-bg .right-part .btn {
        margin: 0 auto;
        float: none;
    }

    .consult.two .container {
        padding-top: 0;
    }

    .consult.three .items1 {
        width: 100%;
        float: none;
        margin-right: 0;
        background-position: center 0;
        text-align: center;
        padding-left: 0;
        padding-top: 70px;
        margin-bottom: 30px;
    }

    .consult.three .items2 {
        width: 100%;
        float: none;
        margin-right: 0;
        background-position: center 0;
        text-align: center;
        padding-left: 0;
        padding-top: 70px;
    }

    .footer .left-part {
        float: none;
        width: auto;
        text-align: left;
    }

    .footer .right-part {
        float: none;
        text-align: left;
    }

    .soc a {
        float: none;
        display: inline-block;
    }

    .soc {
        text-align: left;
    }

    .footer-menu ul {
        float: none;
        text-align: left;
    }

    .footer-menu ul + ul {
        margin-left: 0;
    }

    .footer .copy {
        text-align: center;
        padding: 15px 20px 0;
    }

    .comand .item2 {
        display: none;
    }

    .comand .item1 {
        display: block;
        margin: 0 auto;
    }

    .about-company .blue-bg .block {
        width: 40%;
    }

    .about-company .blue-bg .block + .block {
        margin: 0 4% 15px;
    }

    .about-company .blue-bg .block {
        margin: 0 4% 15px;
    }

    .calculator.three {
        display: none;
    }

    .masters .member .member-more img{
        float: none !important;
        margin-bottom: 15px;
    }

    .masters .member .member-more .inf{
        margin-left: 0;
    }


    .pager{
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }

    .pager a{
        display: inline-block;
        float: none;

    }

    .pager a+a, .pager a{
        margin: 0 4px 10px;
    }

    .amount{
        float: none;
        width: 277px;
        margin: 0 auto;
    }

    .respondes-list .respond .img{
        float: none;
        margin-bottom: 20px;
    }

    .respondes-list .respond .info{
        margin-left: 0;
    }

    .hide-price table td{
        position: relative;
        padding-left: 50%;
        display: block;
        text-align: left !important;
        padding-top: 15px;
    }

    .hide-price table td:before{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: normal;
        display: block;
        font-weight: 600;
    }

    .hide-price table td:nth-of-type(1):before{
        content: 'Вид работ';

    }

    .hide-price table td:nth-of-type(2):before{
        content: 'Ед. изм';

    }

    .hide-price table td:nth-of-type(3):before{
        content: 'Цена за ед.';

    }

    .hide-price table thead{
        display: none;
    }

    .comand{

    }

    .consult.two .container{
        padding-bottom: 0;
    }

    .front .benefits .container{
        padding-bottom: 0;
    }

    .header .right-part .inset{
        float: none;
    }
}

@media (max-width: 639px) {
    .consult.see_object .text{width: 100%}
    .secrets .img {
        float: none;
        margin-bottom: 20px;
    }

    .secrets .inf {
        margin-left: 0;
    }

    .footer-menu ul{
        float: none;
    }

    .footer-menu ul li{
        float: none;
    }
}

@media (max-width: 600px) {
    .repair .big-photo img {
        width: 100% !important;
        height: auto !important;
    }

    .repair .left-part, .repair .right-part {
        width: auto;
    }

    .repair .left-part .thumbnails {
        display: none;
    }

    .hide-part {
        display: block !important;
    }

    .hide-part.oth{
        background: #eceff1;
        margin: 0 -10px;
        padding: 30px 0;
    }

    .repair .project {
        display: none;
    }

    .designer .img {
        float: none;
        width: auto;
        overflow: auto;
    }

    .designer img {
        float: left;
    }

    .designer .inf {
        width: auto;
    }

    .designer .datum {
        text-align: left;
        margin-left: 190px;
    }

    .designer .img span:after {
        left: 0;
        right: auto;

    }

    .designer {
        margin: 0 -10px 30px;
        border-radius: 0;
        padding: 15px;

    }

    .designer .inf a {
        display: none;
    }

    .chip .rp {
        width: auto;
        margin-left: 100px;
        float: none;
    }

    .respond span.fw600 {
        background-position: 0 bottom;
        padding-bottom: 20px;
        margin-bottom: 0;
        display: block;
        padding-right: 0;
    }

    .design-projects .project .thumbs{
        display: none;
    }

    .project .big-photo{
        width: auto;
        float: none;
    }

    .project .big-photo img, .project.tour .big-photo, .project.tour .big-photo img{
        width: 100% !important;
        height: auto !important;
    }

    .quest-form label{
        float: none;
        margin-bottom: 5px;
        padding-top: 0;
    }

    .quest-form input, .quest-form textarea{
        padding: 0 5%;
        width: 90%;
    }

    .quest-form .btn{
        margin: 0 auto;
    }

    .partner .img{
        float: none;
        margin-bottom: 15px;
    }

    .partner .inf{
        margin-left: 0;
    }

    .popup .quest-form input, .popup .quest-form textarea{
        padding: 0 5%;
        width: 90%;


    }

    .popup .inner{
        padding: 20px;
    }

    .popup .quest-form .btn{
        width: 100%;
        font-size: 14px;
    }

    .hide-links.oth{
        display: block;
        padding-bottom: 20px;
        padding-top: 0;
    }

}

@media (max-width: 479px) {
    .respondes .resp .img {
        float: none;
        width: 272px;
        margin-bottom: 0;
    }

    .buttons .btn, .buttons .btn + .btn {
        display: block;
        margin: 0 auto 20px;
    }

    .consult .right-part .phone {
        font-size: 34px;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .consult.three .item .phone {
        font-size: 30px;
    }

    .repair .info .item + .item + .item {
        margin-left: 0 !important;
        padding-top: 10px;
        float: none;
        clear: both;
    }

    .parameters .par + .par + .par{
        float: none;
        margin-left: 0;
        clear: both;
        padding-top: 10px;
    }

    /*.project .right-part .item label{*/
        /*float: none;*/
    /*}*/

    .project .right-part .item .more p{
        margin-left: 0;
    }

    .hide-price{
        padding: 20px;
    }

    .hide-links{
        display: block;
    }

    .project .right-part .item.small .more{
        margin-left: 130px;
    }

    .project .right-part .item .more{
        margin-left: 174px;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
    }

    .repair .name{
        font-size: 22px;
        line-height: 28px;
    }

    .consult.three .name{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .consult.three .item p{
        line-height: 32px;
    }

    .secrets + .consult.three{
        display: none;
    }

    .secrets + .consult.three + .benefits{
        padding-top: 80px;
    }

    .title h2{
        padding:  0 10px;
        border: 0;
    }







}

@media (max-width: 330px){
    .consult .content{padding: 0!important;}
    .masters .member .member-more img{
        width: 100% !important;
        height: auto !important;
    }
}