@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 24px;

}

a {
    text-decoration: none;
}
pre {
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
    font-size: 21px !important;
    margin-bottom: 20px;
}
.anim, .anim a {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.fw300 {
    font-weight: 300;
}

.fw600 {
    font-weight: 600;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.c-blue {
    color: #293d4d;
}

.logo {
    display: block;
    border: 0;
    margin-top: 4px;
}

.logo img {
    display: block;
    margin-bottom: 5px;
}

.logo span {
    display: block;
    font-size: 12px;
    text-decoration: none;
    border: 0;
    white-space: nowrap;
}

.header .left-part {
    padding-top: 20px;
}

.c-inf {
    padding-top: 22px;
}

.c-inf span {
    display: block;
    text-align: right;
    margin-bottom: 14px;
}

.phone {
    text-decoration: none;
    border: 0;
    font-size: 34px;
}

.btn {
    background: rgb(230, 76, 77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(230, 76, 77, 1) 0%, rgba(187, 34, 34, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(230, 76, 77, 1) 0%, rgba(187, 34, 34, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(230, 76, 77, 1) 0%, rgba(187, 34, 34, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64c4d', endColorstr='#bb2222', GradientType=0); /* IE6-9 */
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(195, 109, 0, 0.4);
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    display: block;
    padding: 8px 0;
    box-shadow: 0 2px 0 #801414;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover {
    background: rgb(187, 34, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(187, 34, 34, 1) 0%, rgba(230, 76, 77, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(187, 34, 34, 1) 0%, rgba(230, 76, 77, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(187, 34, 34, 1) 0%, rgba(230, 76, 77, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb2222', endColorstr='#e64c4d', GradientType=0); /* IE6-9 */

}

.btn:active {
    box-shadow: none;
}

.graf {
    padding-top: 22px;
    padding-left: 75px;
    margin-bottom: 20px;
}

.graf .btn {
    width: 224px;
}

.graf span {
    display: block;
    text-align: right;
    margin-bottom: 8px;
}

.pd-t-40 {
    padding-top:40px !important;
}
.pd-t-60 {
    padding-top:60px !important;
}

.about-company.seo .title.orange + .container {
    padding-top: 0;
}

.top-menu {
    border: 1px solid #d5dbe0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    min-height: 12px;
    padding: 20px 0;
    max-width: 909px;
    position: relative;
    z-index: 1000;
}

.top-menu > ul > li {
    float: left;
    padding: 0 25px;
    line-height: 16px;
    position: relative;
    z-index: 200;
}

.top-menu > ul > li + li {
    border-left: 1px solid #b9c3cb;
    z-index: 100;
}

.top-menu > ul > li > a {
    color: #000;
    border-bottom: 1px solid transparent;
    font-weight: 300;
    position: relative;
    z-index: 1000;
}

.top-menu > ul > li > a:hover {
    color: #cc3233;
    border-color: #cc3233;
}

.top-menu > ul > li ul {
    position: absolute;
    border: 1px solid #d5dbe0;
    text-align: center;
    border-radius: 5px;
    left: -1px;
    top: -21px;
    width: 174px;
    background: #fff;
    padding: 55px 10px 10px;
    display: none;
}

.top-menu > ul > li:hover ul {
    display: block;
}

.top-menu > ul > li li {
    margin-bottom: 15px;
}

.top-menu > ul > li li a {
    font-weight: 300;
    border-bottom: 1px solid transparent;
    color: #000;
}

.top-menu > ul > li li a:hover {
    color: #cc3233;
    border-color: #cc3233;
}

.serv-menu {
    background: #fff6e3;
    border-bottom: 5px solid #ffae00;

}

.serv-menu a {
    font-size: 18px;
    white-space: nowrap;
}

.serv-menu li {
    float: left;
}

.serv-menu li + li {
    border-left: 1px solid #f1ecde;
}

.serv-menu a {
    color: #000;
    font-weight: 300;
    display: block;
    position: relative;
    height: 47px;
    padding-top: 23px;
    padding-right: 33px;
    border-radius: 5px 5px 0 0;
}

.serv-menu a span{
    font-weight: 300;
}

.serv-menu .container {
    height: 70px;
    border-left: 1px solid #f1ecde;
    border-right: 1px solid #f1ecde;
    width: 1168px;
}

.serv-menu i {
    display: block;
    position: absolute;
    left: 33px;
    height: 37px;
    top: 50%;
    margin-top: -19px;
    background: url("../images/sprite1.png") no-repeat;
}

.item1 i {
    background-position: right top;
    width: 36px;
}

.item1 a {
    padding-left: 90px;
    width: 136px;
}

.item1 a:hover i {
    background-position: right -37px;
}

.item2 a {
    padding-left: 110px;
    width: 267px;
}

.item2 i {
    background-position: -82px top;
    width: 54px;
}

.item2 a:hover i {
    background-position: -82px -37px;
}

.item3 a {
    padding-left: 95px;
    width: 137px;
}

.item3 i {
    background-position: -44px top;
    width: 38px;
}

.item3 a:hover i {
    background-position: -44px -37px;
}

.item4 a {
    padding-left: 95px;
    width: 103px;
}

.item4 i {
    background-position: left top;
    width: 44px;
}

.item4 a:hover i {
    background-position: left -37px;
}

.serv-menu .active a, .serv-menu a:hover {
    background-color: #ffae00;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(195, 109, 0, 0.4);
}

.slider {
    background: url("../images/slider-bg.jpg") no-repeat center top;
    background-size: cover;
    height: 742px;
    position: relative;
}

.slider .container {
    padding-top: 50px;
}

h3 {
    font-size: 36px;
    line-height: 42px;
}

.btn.green {
    background: rgb(199, 224, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(199, 224, 0, 1) 0%, rgba(140, 192, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(199, 224, 0, 1) 0%, rgba(140, 192, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(199, 224, 0, 1) 0%, rgba(140, 192, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e000', endColorstr='#8cc000', GradientType=0); /* IE6-9 */
    box-shadow: 0 2px 0 #5d8400;

}

.btn.green:hover {
    background: rgb(140, 192, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(140, 192, 0, 1) 0%, rgba(199, 224, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(140, 192, 0, 1) 0%, rgba(199, 224, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(140, 192, 0, 1) 0%, rgba(199, 224, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc000', endColorstr='#c7e000', GradientType=0); /* IE6-9 */
}

.btn.green:active {
    box-shadow: none;
}

.slider .btn.green {
    width: 168px;
    margin-bottom: 33px;
}

.slider .inner {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.slider img {
    display: block;
}

.shad {
    background: url("../images/shadow.png") no-repeat center top;
    height: 60px;
}

.big-photo .info {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    border-radius: 8px;
    width: 970px;
    left: 50%;
    margin-left: -485px;
    bottom: 35px;
}

.big-photo .info .block {
    width: 50%;
    height: 105px;
}

.big-photo .info .block.flr {
    background: rgba(255, 255, 255, 0.5);
}

.arr {
    position: absolute;
    background: url("../images/slider-arr.png") no-repeat;
    width: 101px;
    height: 100px;
    cursor: pointer;
    top: 356px;
    z-index: 1000;
}

.arr.prev {
    background-position: left 0;
    left: 0;
}

.arr.next {
    background-position: right 0;
    right: 0;
}

.arr.prev:hover {
    background-position: 0 bottom;
}

.arr.next:hover {
    background-position: right bottom;
}

.thumb {
    position: absolute;
    top: 50px;
    cursor: pointer;

}

.thumb.prev {
    left: 0;
}

.thumb.next {
    right: 0;
}

.big-photo .info .block .ins {
    display: table-cell;
    vertical-align: middle;
    height: 105px;
    width: 485px;
    text-align: left;
}

.big-photo .name {
    font-size: 26px;
    line-height: 26px;
    padding-left: 30px;
    display: block;
}

.big-photo .name span {
    display: block;
    font-size: 20px;
    font-weight: 300;
}

.c-red {
    color: #ce312d;
}

.big-photo .magnitude {
    display: block;
    margin-bottom: 10px;
}

.big-photo .item .c-red {
    font-size: 24px;
    position: relative;
}

.big-photo .item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.big-photo .item .c-red sup {
    font-size: 10px;
    position: absolute;
    top: -2px;
}

.big-photo .block.flr .ins {
    text-align: center;
}

.big-photo .item + .item {
    margin-left: 45px;
}

.slider li {
    float: left;
    height: 557px;
    width: 100%;
    position: relative;
}

.pink-bg {
    background-color: #fff6e3;
}

.consult .pink-bg {
    background: #fff6e3 url("../images/consult-arr.jpg") no-repeat 565px 0;
    height: 154px;
    border-radius: 5px;
}
.consult.see_object .pink-bg{
    background: #fff6e3 url("../images/Forma-1-copy-5.png") right 150px no-repeat;
}

.consult.two .pink-bg {
    background-position: 715px 0;
}

.consult.two .pink-bg .left-part {
    width: 570px;

}

.consult.two .pink-bg .left-part {
    padding-top: 40px;
}

.consult.two .pink-bg .left-part p {
    font-size: 26px;
    margin-bottom: 13px;
}

.consult.two .pink-bg .left-part span {
    font-size: 40px;
}

.consult.two .pink-bg .right-part {
    width: 370px;
    padding-top: 50px;
}

.consult.two .pink-bg .right-part .btn {
    margin: 0 auto;
}
.consult.see_object .pink-bg, .consult.two .pink-bg{
    height: auto;
}
.consult.form .pink-bg {
    background: #fff6e3 no-repeat 565px 0;
    border-radius: 5px;
}
.consult.form .content{width: 95%; margin: 0 auto; padding: 25px}
.consult.form .title {width: 100%; text-align: center}
.consult.form .title span {color: #ce312d}
.consult .title {border: none}
.consult h2 {background: none}

.consult .text, .view_form input {width: 70%; margin: 0 auto; text-align: center}
.consult.see_object input, .view_form input {width: 55%; padding: 10px 0; font-size: 20px !important; text-align: center; color: #000; margin-top: 30px; border: 2px solid #f4f4f4; border-radius: 5px; box-shadow: 2px;}
.consult.see_object button {display: block; width: 55% !important; margin: 10px auto}
.consult.see_object .container {padding: 100px 0;}
.phone {text-align: right;}
.phone p {font-size: 15px}
.phone h1 {font-weight: 500}
.price {width: 100%; margin: 50px 0}
.price .descr p {font-weight: 600; font-size: 20px;}
.price .obj {width: 33.3333%;  float: left; text-align: center;padding:0 35px;box-sizing: border-box}
.price .obj img {height: 70px}
.left, .right {display: inline-block; vertical-align: middle;}
.clearfix::after {content: ''; display: block; clear: both}
.consult.form .left{width: 50%; padding-right: 4%}
.consult.form .left .phone h1 {color: #2f3f4f}
.consult.form .right{width: 35%; border-left: 2px #fff solid;}
.consult.form .right p{text-align: center}
.consult.form .right input {padding: 5px 0}
.consult.form .right input, .consult.form .right button{width: 100%!important; margin: 10px;}
.consult .bottom {margin-top: 50px}
.consult .btn {
    width: 200px;
    padding: 13px 0;
    font-size: 18px;
}

.consult .content {
    padding: 60px;
}

.title {
    position: relative;
    text-align: center;
    border-top: 2px solid #ffae00;
}

.title h2 {
    display: inline-block;
    position: relative;
    padding: 0 32px;
    top: -30px;
}

.consult .container {
    padding: 100px 0;
}

.consult .btn {
    width: 200px;
    padding: 13px 0;
    font-size: 18px;
}

.consult .left-part {
    width: 500px;
    text-align: right;
    padding-top: 35px;
}

.consult .left-part span {
    font-size: 26px;
    display: block;
    margin-bottom: 10px;
}

.consult .right-part .phone {
    font-size: 38px;
}

.consult .right-part {
    width: 520px;
    text-align: center;
    padding-top: 63px;
}

.title {
    position: relative;
    text-align: center;
    border-top: 2px solid #ffae00;
}

.title h2 {
    display: inline-block;
    position: relative;
    padding: 0 32px;
    top: -30px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    background: #fff;
}

.footer {
    font-size: 14px;
    line-height: 22px;
}

.footer .container {
    padding: 35px 0;
}

.footer .phone {
    color: #000;
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
}

a.c-red, .c-red a {
    border-bottom: 1px solid #db7876;
    color: #ce312d;
}

a.c-red:hover, .c-red a:hover {
    color: #2f3f4f;
    border-color: #858c93;
}

.footer .left-part p {
    margin-bottom: 10px;
}

.made {
    padding-top: 18px;
}

.footer .copy {
    padding-top: 35px;
}

.soc {
    padding-bottom: 35px;
}

.soc span {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.soc a {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    background: url("../images/soc-sprite.png") no-repeat;
    margin-right: 10px;
}

.soc .f {
    background-position: 0 0;
}

.soc .f:hover {
    background-position: 0 bottom;
}

.soc .i {
    background-position: -36px 0;
}

.soc .i:hover {
    background-position: -36px bottom;
}

.soc .v {
    background-position: right 0;
}

.soc .v:hover {
    background-position: right bottom;
}

.footer-menu ul li {
    width: 180px;
    padding-left: 25px;
    float: left;
    margin-bottom: 10px;
}

.marker-gray li {
    background: url("../images/marker-gray.png") no-repeat left 6px;
}

.gray-line {
    background: #eceff1;
}

.gray-line .container {
    overflow: auto;
    padding: 35px 0 34px;
    text-align: center;
}

.menu li a {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    border-bottom: 1px solid transparent;

}

.menu li {
    display: inline-block;
    line-height: 18px;
    padding: 0 32px;
}

.menu li + li {
    border-left: 1px solid #232324;
}

.menu li a:hover {
    border-bottom: 1px solid #db7876;
    color: #ce312d;
}

.benefits .container {
    padding: 20px 0 80px;
}

.no-pad .container {
    padding-bottom: 0 !important;
}

.benefits .block {
    position: relative;
    width: 470px;
    padding-left: 100px;
    float: left;
    padding-top: 15px;
    margin-bottom: 30px;
}

.benefits .block + .block {
    margin-left: 30px;
}

.benefits .block span {
    display: block;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 22px;
}

.benefits .i {
    position: absolute;
    background: url("../images/benefits-sprite.png") no-repeat;
    width: 70px;
    height: 89px;
    left: 0;
    top: 0;
}

.benefits .i2 {
    background-position: right 0;
}

.benefits .i3 {
    background-position: 0 -89px;
}

.benefits .i4 {
    background-position: right -89px;
}

.benefits .i5 {
    background-position: 0 -178px;
}

.benefits .i6 {
    background-position: right -178px;
}

.benefits .i7 {
    background-position: 0 -267px;
}

.benefits .i8 {
    background-position: right -267px;
}

.benefits .i9 {
    background-position: 0 bottom;
}

.benefits .i10 {
    background-position: right bottom;
}

.benefits img {
    margin-right: 10px;
}

.benefits .block p {
    font-weight: 300;
}

.title.green {
    border-top: 2px solid #94cf00;
}

.consult.two .pink-bg {
    background-position: 715px 0;
}

.consult.two .pink-bg .left-part {
    width: 570px;

}

.consult.two .pink-bg .left-part {
    padding-top: 40px;
}

.consult.two .pink-bg .left-part p {
    font-size: 26px;
    margin-bottom: 13px;
}

.consult.two .pink-bg .left-part span {
    font-size: 40px;
}

.consult.two .pink-bg .right-part {
    width: 370px;
    padding-top: 50px;
}

.consult.two .pink-bg .right-part .btn {
    margin: 0 auto;
}

.member {
    width: 268px;
    height: 384px;
    border: 1px solid #e9ebed;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.member + .member {
    margin-left: 29px;
}

.member .ins {
    padding: 19px;
}

.member img {
    display: block;
    margin-bottom: 15px;
}
.member .ins>img{
    border-radius: 5px;
}

.member .name {
    display: block;
    font-size: 22px;
}

.member .name:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #ffae00;
    margin: 15px 0 15px 0;
}

.comand .container {
    padding: 15px 0 100px;
}

.comand .btn {
    width: 300px !important;
    margin: 50px auto 0;
    font-size: 18px;
    padding: 13px 0;
}

.member p {
    font-size: 14px;
}

.buttons {
    text-align: center;
    padding-top: 35px;
}

.buttons .btn {
    font-size: 18px;
    display: inline-block;
    padding: 13px 0;
    width: 200px;
}

.buttons .btn + .btn {
    margin-left: 25px;
}

.respondes .container {
    padding: 0;
    margin-top: -20px;
}

.resp .img {
    background: url("../images/img-bg.jpg") no-repeat;
    width: 270px;
    height: 370px;
    margin-right: 30px;
}

.resp .img .ins {
    padding-top: 85px;
}

.mark span {
    margin-right: 10px;
}

.resp {
    width: 565px;
}

.resp + .resp {
    margin-left: 40px;
}

.resp p {
    /*margin-bottom: 20px;*/
}

.mark {
    margin-bottom: 20px;
}

.resp .name {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 28px;
    display: block;
}

.resp .img .c-red {
    margin-left: 50px;
}

.resp .img img {
    background: #fff;
    padding: 5px;
    border: 1px solid #e9ebed;
    border-radius: 6px;
    margin-bottom: 30px;
}

.resp .txt {
    padding-top: 80px;
}

.author {
    font-size: 20px;
}

.author:before {
    background: #ffae00;
    width: 50px;
    height: 2px;
    content: '';
    display: block;
    margin: 25px 0 15px;
}

.consult.three .pink-bg {
    background-image: none;
    height: auto;
    text-align: center;
    padding: 40px 0;
}

.consult.three .name {
    font-size: 38px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.consult.three .block a {
    font-size: 24px;
}

.consult.three .block span {
    display: block;
    margin-bottom: 13px;
}

.consult.three .block {
    display: inline-block;
    text-align: left;
}

.consult.three .items1 {
    background: url("../images/ico-mail.png") no-repeat left 7px;
    padding-left: 84px;
    margin-right: 145px;
}

.consult.three .items2 {
    background: url("../images/ico-phone.png") no-repeat left 7px;
    padding-left: 68px;
}

.links {
    margin-left: 30px;
    padding-top: 15px;
}

.links a {
    font-size: 20px;
    line-height: 26px;
}

.links .items {
    position: relative;
    padding: 0 0 25px 70px;
    max-width: 200px;
}

.ico {
    position: absolute;
    background: url("../images/y-sprite.png") no-repeat;
    width: 51px;
    display: block;
    left: 0;
    top: 10px;
}

.ico1 {
    background-position: center top;
    height: 44px;

}

.ico2 {
    background-position: center -44px;
    height: 44px;
}

.calc .top label {
    position: relative;
    float: left;
    font-weight: 300;
    margin-top: 8px;
}

.calc .top label sup {
    position: absolute;
    font-size: 9px;
    font-weight: 300;
    right: -7px;
    top: -2px;

}

.form input {
    float: left;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.calc input {
    margin-right: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    width: 198px;
}

.calc span.fw600 {
    display: block;
    margin-right: 10px;
    padding-top: 8px;
}

.jqselect {
    width: 220px;
    float: left;
}
.jqselect.long {
  width: 280px;
}
.jq-selectbox__select {
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    height: 38px;
    overflow: hidden;
}

.jq-selectbox__select-text {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 38px;
}

.calc {
    border: 3px solid #f3f2f1;
    border-radius: 6px;
    width: 864px;
}

.calc .top {
    background: #f3f2f1;
    padding: 40px 40px 5px;
}

.jq-selectbox__trigger {
    border: 0;
}

.jq-selectbox__trigger-arrow {
    opacity: 1;
    border-top: 5px solid #ce312d;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: 18px;

}

.jq-selectbox__dropdown {
    top: 40px;
    border-radius: 3px;
    overflow: hidden;

}

.jq-selectbox__dropdown li {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.jq-selectbox__dropdown li:hover {
    background: #ce312d;
}

.item-radio {
    position: relative;
}

.calc .item-radio {
    top: -22px;
}

.item-radio input {
    width: auto !important;
    padding: 0 !important;
    left: -9000px;
    position: absolute;
}

.item-radio label {
    cursor: pointer;
}

.item-radio label span {
    display: inline-block;
    text-align: center;
    font-weight: 300;
}

.calc .item-radio + .item-radio {
    margin-left: 200px;
}
.small_window{display: none}
.faq {
    background: url("../images/ico-faq.png") no-repeat left top;
    cursor: pointer;
    width: 14px;
    height: 15px;
    position: relative;
    margin-left: 5px;
    top: 3px;

}

.faq:hover {
    background-position: 0 bottom;
}

.calc .choice {
    padding-top: 50px;
}

.calc .line {
    height: 1px;
    background: #d6d5d3;
    margin: 0 auto;
}

.item-radio i {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../images/radio.png") no-repeat top;
}

.item-radio .icon {
    display: block;
    padding: 1px;
    border: 1px solid #d6d5d3;
    background: #fff;
    width: 22px;
    height: 22px;
    margin: 0 auto 13px;
    border-radius: 50%;
}

.item-radio input:checked + label i {
    background-position: bottom;
}

.calc .item-radio.first {
    margin-left: -20px;
}

.calc .item-radio.last {
    margin-right: -20px;
}

.calc .total {
    padding-top: 3px;
}

.calc .total span {
    display: inline;
}

.calc .bottom {
    padding: 40px 65px;
    overflow: auto;
}

.calc .total .c-red {
    font-size: 34px;
}

.calc .btn {
    font-size: 18px;
    width: 290px;
}

.tooltipster-light {
    border-radius: 0;
    background: #fefefe;
    color: #000;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}

.tooltipster-light .tooltipster-content {
    font-size: 13px;
    padding: 7px 10px;
    max-width: 300px;
    line-height: 18px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.repair .container {
    padding: 55px 0 100px;
}

.repair .left-part, .repair .right-part {
    width: 570px;
}

.repair .name {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
    display: block;
}

.repair .left-part img {
    display: block;
    border-radius: 6px;
}

.repair .big-photo {
    padding-bottom: 22px;
}

.repair .big-photo a {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.thumbnails a {
    display: block;
    float: left;
    margin-bottom: 22px;
    width: 126px;
    height: 94px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.thumbnails a + a {
    margin-left: 22px;
}

.over {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

a:hover .over {
    display: block;
}

.over .ins {
    background: url("../images/ico-plus.png") no-repeat;
    width: 33px;
    height: 33px;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -17px;
    position: absolute;
}

.over .inset {
    background: url("../images/zoom.png") no-repeat;
    width: 160px;
    height: 160px;
    left: 50%;
    top: 50%;
    margin: -80px 0 0 -80px;
    position: absolute;
}

.blue-bg {
    background: #eceff1;
    border-radius: 6px;
}

.repair .info {
    padding-bottom: 35px;
}

.repair .info .fw300 {
    display: block;
    margin-bottom: 10px;
}

.repair .info .c-red {
    position: relative;
    font-size: 24px;
}

.repair .info .c-red sup {
    position: absolute;
    font-size: 12px;
    right: -10px;
    top: -2px;
}

.repair .info .item + .item {
    margin-left: 60px;
}

.designer {
    padding: 35px 40px;
    margin-bottom: 35px;
}

.designer .img {
    width: 170px;
    text-align: right;
}

.designer img {
    display: block;
    border-radius: 6px;
    margin-bottom: 15px;

}

.designer .inf {
    width: 280px;

}

.designer .inf p {
    font-weight: 300;
    margin-bottom: 10px;

}

.designer .img span {
    display: block;
    font-size: 22px;
    padding-bottom: 40px;
    position: relative;
}

.designer .img span:after {
    content: '';
    display: block;
    width: 50px;
    position: absolute;
    height: 2px;
    background: #ffae00;
    right: 0;
    bottom: 18px;

}

.designer .img p {
    font-size: 14px;
    font-weight: 300;
}

.chip > span {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;

}

.chip .rp {
    width: 440px;
    margin-left: 25px;
}

.chip .lp span {
    font-size: 22px;
}

.chip .lp sup {
    font-size: 12px;
    font-weight: 600;
}

.chip {
    padding-bottom: 30px;

}

.respond span.fw600 {
    font-size: 28px;
    background: url("../images/stars.png") no-repeat right 12px;
    padding-right: 90px;

}

.dot {
    border-style: dotted !important;
}

.respond .inf p {
    font-weight: 300;
    margin-bottom: 10px;
}

.respond .inf {
    padding-top: 20px;
}

.respond .author {
    font-size: 20px;

}

.respond .author:before {
    content: '';
    width: 50px;
    height: 2px;
    background: #ffae00;
    display: block;
    margin: 20px 0;
}

.project {
    padding: 40px;
    overflow: auto;
}

.project img {
    display: block;
    border-radius: 6px;
}

.project .fw600 {
    font-size: 28px;
    display: block;
    margin-bottom: 13px;
    line-height: 34px;
}

.project .inf {
    margin-left: 255px;
    padding-top: 2px;
}

.secrets .container {
    padding-top: 40px;
}

.secrets .btn {
    font-size: 18px;
    padding: 13px 0;
    width: 290px;
    margin: 0 auto;
}

.secrets .block {
    width: 570px;
    padding-bottom: 50px;
}

.secrets .block + .block {
    margin-left: 30px;
}

.secrets .img {
    width: 234px;
}

.secrets img {
    display: block;
    border-radius: 6px;
    margin-bottom: 15px;
}

.secrets .inf {
    width: 300px;
    float: right;
}

.secrets .inf span {
    display: block;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 18px;
}

.consult.three p.fw600 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 35px;
}

.consult.three .item {
    display: inline-block;
}

.consult.three .item p {
    font-size: 26px;
}

.consult.three .item + .item {
    margin-left: 70px;
}

.consult.three .item .phone {
    font-size: 38px;
}

.calc.flat .item, .calc.designs .item {
    float: none;
    display: inline-block;
}

.calc.flat .top, .calc.designs .top {
    text-align: center;
}

.dash {
    border-style: dashed !important;
}

.partner {
    width: 570px;
    padding-bottom: 45px;
}

.partner + .partner {
    margin-left: 30px;
}

.partner .inf {
    width: 270px;
}

.partner .ins {
    display: table-cell;
    width: 268px;
    height: 168px;
    border: 1px solid #d5dbe0;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}

.partner img {
    display: inline-block;
}

.partner p {
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 13px;
}

.partners .container {
    padding: 60px 0 55px;
}

.serv-menu li.item4 a {
    margin-right: -2px;
}

.serv-menu li.item1 a {
    margin-left: -1px;
}

.project .left-part, .project .right-part {
    width: 570px;
}

.project .left-part img {
    display: block;
    border-radius: 5px;
}

.project .big-photo {
    width: 422px;
}

.project.tour .big-photo {
    width: 570px;
}

.project .left-part a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.project .thumbs {
    width: 126px;
}

.project .thumbs a + a {
    margin-top: 22px;
}

.project .right-part p, .project .right-part label {
    font-weight: 300;
}

.project .right-part .name {
    font-size: 28px;
    display: block;
    margin-bottom: 20px;
}

.design-projects .project {
    padding: 0;
}

.project .right-part p {
    margin-bottom: 20px;
}

.project .right-part .item p {
    margin-bottom: 0;
}

.project .right-part .item {
    overflow: auto;
    padding-bottom: 10px;
}

.project .right-part .item label {
    display: block;
    width: 174px;
}

.project .right-part .item p {
    margin-left: 174px;
}

.design-projects .container {
    padding: 55px 0 110px;
}

.design-projects .project {
    margin-bottom: 60px;
}

.design-projects .project .right-part img {
    display: inline-block;
    margin-left: 5px;
}

.design-projects .btn {
    padding: 13px 0;
    font-size: 18px;
    width: 250px;
    margin: 0 auto;
}

.benefits + .consult .container {
    padding-top: 60px;
    padding-bottom: 110px;
}

.calculator.three .container {
    padding-bottom: 110px;
}

.calc.designs {
    width: 100%;
}

.calc table {
    width: 95%;
    margin: 20px 60px 30px 0;
}

.calc table th {
    padding-bottom: 15px;
}

.calc table span {
    font-size: 18px;
}

.calc table td {
    font-weight: 300;
    padding: 10px;
}

.calc table td.first {
    text-align: right;
}

.calc.designs .btn {
    width: 360px;
    margin: 0 33px 0 145px;
}

.calc.designs .phone {
    font-size: 34px;
    text-decoration: none;
    border: 0;
}

.calc.designs .call span {
    display: block;
    margin-bottom: 5px;
    padding-top: 0;
}

.calc.designs .call {
    margin-top: -5px;
}

.tabs {
    padding-bottom: 55px;
}

.tabs li {
    float: left;
    margin-right: 13px;
}

.tabs li.active a {
    color: #ffffff;
    background: #ffae00;

}

.tabs li.active a span {
    border-color: transparent;
}

.tabs a {
    display: block;
    padding: 15px 30px;
    border-radius: 5px;
    background: #fff6e3;
    font-size: 18px;
    color: #000;
}

.tabs a span {
    border-bottom: 1px dotted #a39d90;
}

.tabs a:hover span {
    border-color: transparent;
}

.project a.name {
    text-decoration: underline;
    color: #000;
}

.project a.name:hover {
    text-decoration: none;
}

.parameters span {
    display: block;
    position: relative;
}

.parameters sup {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 9px;
}

.parameters .c-red {
    font-size: 24px;
    margin-top: 5px;
    display: inline-block;
}

.parameters .par + .par {
    margin-left: 60px;
}

.parameters {
    padding-bottom: 30px;
}

.project .right-part .item a {
    font-weight: 300;
}

.project .right-part .item .more p {
    margin-bottom: 10px;
    margin-left: 130px;
}

.project .right-part .item.small label {
    width: 130px;
}

.pager a {
    display: block;
    float: left;
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    background: #fff6e3;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    line-height: 49px;
}

.pager a.active, .pager a:hover {
    color: #ffffff;
    background: #ffae00;

}

.amount span {
    display: block;
    padding-top: 8px;
    margin-right: 20px;
}

.amount .jqselect {
    width: 82px;
}

.amount .jq-selectbox__select {
    background: #fff6e3;
}

.amount .jq-selectbox__dropdown {
    background: #fff6e3;
}

.about-company .container {
    padding: 60px 0 110px;
}

.about-company p {
    margin-bottom: 20px;
}

.about-company .blue-bg {
    border-radius: 5px;
    padding: 45px 0;
    text-align: center;
    margin-top: -120px;
}

.about-company .blue-bg > span {
    font-size: 28px;
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

.about-company .block {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.about-company .block .c-red {
    display: block;
    text-align: center;
    font-size: 80px;
    line-height: 80px;

}

.about-company .block + .block {
    margin-left: 85px;
}

.print {
    position: relative;
    top: 5px;
}

.print:before {
    position: absolute;
    content: '';
    display: block;
    background: url("../images/ico-print.png") no-repeat;
    width: 21px;
    height: 18px;
    left: -32px;
    top: 5px;
}

.contacts label, .contacts p {
    font-weight: 300;
}

.contacts .container {
    overflow: auto;
    padding: 60px 0 100px;
}

.contacts .fw600 {
    display: block;
    font-size: 28px;
    margin-bottom: 30px;
}

.contacts .block {
    width: 570px;
    margin-bottom: 20px;
}

.contacts .block.fll label {
    width: 132px;
}

.contacts .block.flr label {
    width: 100px;

}

.contacts .block.flr p {
    margin-left: 100px;
}

.contacts .block.fll p {
    margin-left: 132px;
}

.contacts .block .item {
    overflow: auto;
    padding-bottom: 13px;
}

.contacts .item .one {
    display: inline-block;
    width: 57px;
}

.contacts .item span {
    font-weight: 300;
}

#map {
    height: 572px;
    width: 100%;
    margin-top: 40px;
}

.respondes-list .container {
    padding: 60px 0 50px;
}

.respondes-list .respond img {
    display: block;
    padding: 4px;
    border: 1px solid #e9ebed;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.respondes-list .respond .name {
    font-size: 22px;
    display: block;
    margin-bottom: 20px;
}

.respondes-list .respond .marks {
    margin-bottom: 20px;
}

.respondes-list .respond .info {
    margin-left: 300px;
}

.respondes-list .respond .info p {
    font-weight: 300;
}

.respondes-list .respond .marks span {
    font-weight: 300;
}

.respondes-list .respond .info p a {
    font-weight: 300;
}

span.stars {
    display: inline-block;
    position: relative;
    background: url("../images/stars-sprite.png") no-repeat left top;
    width: 80px;
    height: 14px;
    margin-left: 10px;
}

span.stars .ins {
    position: absolute;
    background: url("../images/stars-sprite.png") no-repeat left bottom;
    height: 14px;
    left: 0;
    top: 0;
    display: block;
}

.respondes-list .respond {
    padding-bottom: 55px;
}

.questions .container {
    padding: 60px 0 80px;
}

.questions .container > ul > li {
    background: url("../images/ico-q.png") no-repeat left 2px;
    padding-left: 40px;
    margin-bottom: 30px;

}

.questions .container > ul > li p {
    font-weight: 300;
}

.questions .fw600 {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
}

.questions .container > ul > li li {
    background: url("../images/dot.jpg") no-repeat left 12px;
    padding-left: 13px;
    font-weight: 300;
    margin-top: 15px;
}

.questions .container > ul > li li p, .questions .container > ul > li li a {
    font-weight: 300;

}

.quest-form .item {
    overflow: auto;
    padding-bottom: 20px;
}
.wide .quest-form .item{
  overflow: visible;
  min-height: 61px;
  padding-bottom: 0;
}
.wide .quest-form  .right-part .item{
  min-height: auto;
  overflow: auto;
  padding-bottom: 20px;

}
.inpage .quest-form .item {
    display: inline-block;
    margin-right: 25px;
}
.inpage {
    margin-bottom:40px;
}
.inpage .quest-form .btn {
    width: 255px;
}
.inpage .quest-form textarea {

}
.quest-form input, .quest-form textarea {
    background: #fff6e3;
    border-radius: 4px;
    width: 335px;
    padding: 0 15px;
    height: 42px;
    float: left;
    resize: none;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.wide .quest-form input, .wide .quest-form textarea {
  width: 250px;
}
.quest-form textarea{
    padding: 10px 15px;
    height: 90px;
}

.inpage .quest-form textarea {
    width: 850px;;
}
.quest-form label {
    display: block;
    font-weight: 300;
    padding-top: 10px;
    width: 120px;
    float: left;
}

.quest-form .btn {
    padding: 0;
    height: 40px;
    display: block;
}

.quest-form .btn {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 208px;
    display: block;
    margin-left: 120px;
}

.masters .container {
    padding: 65px 0 70px;
}

.member {
    position: relative;
    z-index: 10;
}

.member-more {
    background: #fff;
    position: absolute;
    left: 0;
    top: -1px;
    padding: 20px;
    border: 1px solid #e9ebed;
    width: 828px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: none;

}


.member-more .inf {
    width: 546px;
    margin-left: 20px;

}

.r-pop .member-more .inf{
    margin: 0 20px 0 0;
}

.member .member-more img {
    display: block;
    margin-bottom: 0;
}

.member:hover {
    z-index: 100;

}

/*.member:hover .member-more {*/
/*display: block;*/
/*}*/

.member-more .inf span {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}

.member-more .inf p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.member-more .inf .stage {
    font-size: 14px;
    color: #ff8400;
    font-weight: 300;

}

.member-more .inf p + p {
    margin-top: 17px;
}

.member.r-pop .member-more {
    right: 0;
    left: auto;
}

.member {
    margin-bottom: 30px;
}

.prices .container {
    padding-top: 60px;
}

.prices .container > p, .prices .container > p * {
    font-weight: 300;
    margin-bottom: 15px;
}

.hide-price th {
    font-weight: 600;
}

.hide-price {
    padding: 40px;
    border: 1px solid #d5dbe0;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    display: none;
}

.hide-price table {
    width: 100%;
}

.hide-price td {
    font-weight: 300;
    text-align: left;
    padding: 15px 20px;
}

.hide-price th {
    padding: 15px 20px;
    background: #fff6e3;
}

.hide-price td:first-child, .hide-price th:first-child {
    border-radius: 5px 0 0 5px;
}

.hide-price td:last-child, .hide-price th:last-child {
    border-radius: 0 5px 5px 0;
    text-align: right;
}

.hide-price tr:nth-child(even) td {
    background: #fff6e3;
}

.prices ul > li {
    margin-bottom: 10px;
}

.prices ul > li > a {
    display: block;
    font-size: 28px;
    background: #eceff1;
    border-radius: 5px;
    padding: 20px 25px;
    color: #000;
}

.prices ul > li > a > span {
    border-bottom: 1px dotted #969899;
}

.prices ul > li > a:hover > span {
    color: #cc3233;
    border-color: #dca2a4;
}

.prices ul > li.open > a > span {
    color: #ffffff;
    border-color: #ffffff;
}

.prices ul > li.open > a {
    background: #ffae00;
}

.prices .container > ul {
    padding-top: 30px;
}

.prices + .consult > .container {
    padding-top: 80px;
}

.popup{
    background:  #fff;
    border-radius: 8px;
    width: 830px;
    display: none;
}
.popup.wide{
  width: 920px;
}
.popup .left-part{
    width: 230px;
}
.popup.wide .left-part{
    width: 400px;
}

.popup .left-part img{
    display: block;
    border-radius: 5px;
    margin-bottom: 17px;
}

.popup .left-part p{
    padding-bottom: 15px;
}

.popup .right-part{
    width: 485px;
}
.popup.wide .right-part{
    width: 400px;
}

.popup h2{
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
}

.popup .inner{
    padding: 40px;
    overflow: auto;
}

.popup .right-part p{
    margin-bottom: 20px;
}

.popup .quest-form label{
    width: 117px;
}
.popup .quest-form label.long{
  padding-top: 0;
}
.popup .quest-form  .btn{
    width: 255px;
}

.popup ol{
    list-style-type: decimal;
}

.popup ul{
    list-style-type: disc;
}

.popup ol li, .popup ol li{
    margin: 0 0 10px 45px;
}

.fancybox-close{
    background: url("../images/fancy-close.png") no-repeat;
    width: 48px;
    height: 48px;
    top: -24px;
    right: -24px;
}

.prices .about-company .container{
    padding: 0;
}

.hide{
    display: none;
}
.form form{
    position: relative;
}
.loader{
    background: url("../images/loader.gif") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    visibility: hidden;
}

.form .error{
    border: 1px solid #ff0000;
}

.form .marks{
    margin-top: 8px;
}
.form .marks span.stars{
    width: 15px;
    margin-left: 0;
    cursor: pointer;
}

.popup.review .quest-form label{
    width: 190px;
}

.popup.review .quest-form input, .popup.review .quest-form textarea{
    width: 500px;
}

.popup.review .quest-form .btn{
    margin-left: 190px;
}

.about-company strong *, .popup strong *, .about-company b *, .popup b *, .about-company strong, .about-company b{
    font-weight: bold!important;
}


#fancybox-buttons a.btnToggle{
    background: url("../images/zoom-ico.png") no-repeat center center;
}


.about-company.seo {
    padding:0;
    margin: 25px 0;
}
.about-company.seo .container {
    padding-bottom: 20px;
}
.seo h2 {margin-bottom:20px;}
.seo h3 {margin-bottom:15px;}
.seo ul {margin-bottom: 15px;}
.seo ul li {
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
    position: relative;
}
.seo ul li:before {
    content: "—";
    display: inline-block;
    left: -20px;
    position: absolute;
}
@media print {
  .header, .serv-menu, .gray-line, .footer{
      display: none;
  }
    .container{
        max-width: 800px;
    }
    #map{
        width: 600px;
    }
}
