{% extends 'base.html' %}
{% load thumbnail cms_tags %}
{% block center %}
     <div class="masters">
            <div class="container">
                <h1>{% page_attribute "title" %}</h1>
               {% for item in object_list %}
                <div class="member fll{% cycle '' '' ' r-pop' ' r-pop' %}">
                    <div class="ins">
                        {% thumbnail item.image '230x230' crop="center" as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}">
                        {% endthumbnail %}
                        <span class="name">{{ item.name }}</span>

                        <p>{{ item.post|default:'' }}</p>

                        {% if item.stage %}<p class="c-red">Стаж: {{ item.stage }}</p>{% endif %}
                    </div>
                {% if item.text %}
                    <div class="member-more">
                        {% thumbnail item.image2 '261x343' as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" class="{% cycle 'fll' 'fll' 'flr' 'flr' %}" height="{{ img.height }}" alt="{{ item.name }}"/>
                        {% endthumbnail %}
                        <div class="inf fll">
                            <span class="nam">{{ item.name }}</span>

                            <p>{{ item.post|default:'' }}</p>
                            {% if item.stage %}<span class="stage">Стаж: {{ item.stage }}</span>{% endif %}
                           {{ item.text|safe }}
                        </div>
                        <div class="clr"></div>
                    </div>
                {% endif %}
                </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                   <div class="clr"></div>
                   {% endif %}
                {% endfor %}


            </div>
        </div>
{% endblock %}