{% extends 'base.html' %}
{% load thumbnail cms_tags %}
{% block center %}
<div class="partners">
            <div class="container">
                <h1>{% page_attribute "title" %}</h1>
{% for item in object_list %}
                <div class="partner fll">
                    <div class="img fll">
                        <div class="ins">
                            {% thumbnail item.image '270x170' upscale=False format="PNG" as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}" style="margin: {{ img|margin:'270x170' }};">
                            {% endthumbnail %}

                        </div>
                    </div>
                    <div class="inf flr">
                        <p>
                            {{ item.text|safe }}
                        </p>
                        {% if item.url %}<a href="{{ item.url }}" target="_blank" class="c-red">{{ item.text_url|default:item.url }}</a>{% endif %}
                    </div>
                    <div class="clr"></div>
                </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    <div class="clr"></div>
    {% endif %}
                {% endfor %}

            </div>
        </div>

{% endblock %}