{% extends 'base.html' %}
{% load cms_tags %}
{% block center %}
    <div class="prices">
        <div class="container">
            {% static_placeholder "price_top" %}

            <ul>
                {% for item in object_list %}
                    <li{% if forloop.first %} class="open"{% endif %}><a href="#"><span
                            class="fw600">{{ item.name }}</span></a>

                        <div class="hide-price"{% if forloop.first %} style="display: block;"{% endif %}>
                            <table>
                                <thead>
                                <tr>
                                    <th>Вид работ</th>
                                    <th>Ед. изм</th>
                                    <th>Цена за ед. изм.</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for price in item.get_active_items %}
                                    <tr>
                                        <td>{{ price.name }}</td>
                                        <td>{{ price.unit }}</td>
                                        <td>{{ price.price }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </li>
                {% endfor %}

            </ul>
 {% static_placeholder "price_bottom" %}

        </div>
    </div>
{% endblock %}