{% extends 'base.html' %}
{% load menu_tags cms_tags thumbnail %}
{% block slider %}{% endblock %}
{% block center %}
 <div class="design-projects">

            <div class="container">
                <h1>{% page_attribute 'title' %}</h1>
                <div class="tabs anim">
                    <ul>
                        {% show_menu 1 0 0 0 'menu/new-menu.html'%}

                    </ul>
                    <div class="clr"></div>
                </div>
<div class="endless_page_template">
    {% include temp %}
</div>
                <div class="clr"></div>
            </div>
        </div>
            {% static_placeholder "review" %}
            {% static_placeholder "connect_us" %}
{% endblock %}
