{% load thumbnail template_tags pytils_numeral %}
{% for item in object_list %}
<div class="project">
    <div class="left-part fll">
    {% if item.image %}
        <div class="big-photo fll">
            {% thumbnail item.image '422x326' crop="center" as img %}
                {% thumbnail item.image '1200' upscale=False as big %}
                    <a rel="gal{{ item.id }}" class="fancy2" href="{{ big.url }}">
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt=""/>
                        <span class="over"><span class="inset"></span></span>
                    </a>
                {% endthumbnail %}
            {% endthumbnail %}
        </div>
        {% endif %}

        <div class="thumbs flr">
            {% for i in item.images.all %}
                {% if forloop.counter < 4 %}
                    {% thumbnail i.image '126x94' crop="center" as img %}
                        {% thumbnail i.image '1200' upscale=False as big %}
                            <a rel="gal{{ item.id }}" class="fancy2" href="{{ big.url }}">
                                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt=""/>
                                <span class="over"><span class="ins"></span></span>
                            </a>
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="right-part flr">
        <a href="{{ item.get_absolute_url }}" class="fw600 name">{{ item.name }}</a>

        <div class="parameters">
            {% if item.area %}
            <div class="par fll">
                <span class="fw300">площадь</span>
                <span class="c-red">{{ item.area }} м <sup>2</sup></span>
            </div>
{% endif %}
        {% if item.price %}
            <div class="par fll">
                <span class="fw300">стоимость работ</span>
                <span class="c-red">{{ item.price }}</span>
            </div>
        {% endif %}
        {% if item.limit %}

            <div class="par fll">
                <span class="fw300">срок</span>
                <span class="c-red">{{ item.limit }}</span>
            </div>
        {% endif %}
            <div class="clr"></div>
        </div>

        <div class="item small">
            <label class="fll">Подробнее:</label>

            <div class="more">
              {% if item.images.count %}  <p><a href="{{ item.get_absolute_url }}" class="c-red">все фото</a> ({{ item.images.count }})</p>{% endif %}

                {% if item.secrets.count %}<p><a href="{{ item.get_absolute_url }}" class="c-red">{{ item.secrets.count|get_plural:'секрет, секрета, секретов' }} проекта</a></p>{% endif %}

                   {% if item.review %}

                    <p><a href="#review{{ item.id }}" class="c-red fancy">отзыв заказчика</a>
                        <span class="marks">
                            <span class="stars"><span style="width: {{ item.review.rating|multiply:20 }}%;" class="ins"></span></span>
                        </span>
                    </p>

                <div class="popup" id="review{{ item.id }}">
<div class="inner respondes">
            <div class="container">
                <div class="resp" style="width: auto;">
                   {% if item.review.image %}
                    <div class="img fll">
                        <div class="ins">
                            {% thumbnail item.review.image '260x190' as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.review.name }}"/>
                            {% endthumbnail %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="txt">
                        <div class="marks">
                            <span>Оценка:</span><span class="stars"><span style="width: {{ item.review.rating|multiply:20 }}%;" class="ins"></span></span>
                        </div>
                        <span class="name">
                           {{ item.review.proj_name|default:'' }}
                        </span>
                        {{ item.review.text|safe }}
                        <div class="author">
                            {{ item.review.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </div>
            {% endif %}

            </div>


        </div>

    </div>

    <div class="clr"></div>
</div>
{% endfor %}

<div class="aj-pager">
    {% include 'plugins/pager.html' %}
</div>