{% extends 'base.html' %}
{% load cms_tags %}
{% block center %}
    <div class="questions">
        <div class="container">
            <h1>{% page_attribute 'title' %}</h1>

            <ul>
                {% for item in object_list %}
                    <li>
                        <span class="fw600">{{ item.name }}</span>

                        {{ item.answer|safe }}
                    </li>
                {% endfor %}
            </ul>

            <div class="form quest-form">
                <div class="item">
                    <label>Ваше имя</label>
                    <input type="text"/>
                </div>
                <div class="item">
                    <label>E-mail <span class="c-red">*</span></label>
                    <input type="text"/>
                </div>
                <div class="item">
                    <label>Комментарий</label>
                    <textarea name="comment"></textarea>
                </div>

                <button class="btn fw600" type="submit">Отправить вопрос</button>
            </div>
        </div>
    </div>

{% endblock %}