{% extends 'base.html' %}
{% load menu_tags cms_tags thumbnail %}
{% block center %}
    <div class="respondes-list">
        <div class="container">
            <h1>Отзывы</h1>

            <div class="endless_page_template">
                {% include 'contents/reviews-endless.html' %}
            </div>
        </div>
    </div>
{% endblock %}