{% load thumbnail template_tags %}
{% for item in object_list %}

                <div class="respond">
                {% if item.image %}
                    <div class="img fll">
                         {% thumbnail item.image '1200' upscale=False as big %}
                         {% thumbnail item.image '260x190' as img %}
                            <a href="{{ big.url }}" rel="gal{{ item.id }}" class="fancy2"><img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.name }}"/></a>
                            {% endthumbnail %}
                            {% endthumbnail %}

                            {% if item.images.count %}
                                {% for image in item.images.all %}
                                    {% if forloop.first %}
                                <p><a href="{{ image.image.url }}" rel="gal{{ item.id }}" class="c-red fancy2">Смотреть фото объекта</a> <span>({{ item.images.count }})</span></p>
                                    {% else %}
                                        <a href="{{ image.image.url }}" rel="gal{{ item.id }}" class="hide fancy2"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                {% endif %}
                    <div class="info">
                        <div class="marks">
                            <span>Оценка:</span>
                            <span class="stars"><span style="width: {{ item.rating|multiply:20 }}%;" class="ins"></span></span>
                        </div>
                        <span class="name">{{ item.proj_name|default:'' }}</span>

                        <p class="original">{{ item.text|striptags|truncatechars:290 }} <a href="#" class="c-red dot show">Читать далее</a></p>
                        <div class="hide">
                            {{ item.text|safe }}
                            <a href="#" class="c-red dot hid">Скрыть</a>
                        </div>

                        <div class="author">
                            {{ item.name }}
                        </div>
                    </div>

                    <div class="clr"></div>


                </div>


                <div class="clr"></div>

{% endfor %}

<div class="aj-pager">
    {% include 'plugins/pager.html' %}
</div>
