{% load thumbnail template_tags %}
{% for item in object_list %}
    <div class="project tour">
        <div class="left-part fll">
            <div class="big-photo fll">
                <a class="fancy fancybox.iframe" href="{{ item.get_absolute_url }}">
                    {% thumbnail item.image '570x326' crop="center" as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="ХХшеуьютфьу"/>
                    {% endthumbnail %}
                    <span class="over"><span class="inset"></span></span>
                </a>
            </div>
        </div>

        <div class="right-part flr">
            <span class="fw600 name">{{ item.name }}</span>

            <p>{{ item.text|default:''|safe }}
            </p>
{% if item.project.design %}
            <div class="item">
                <label class="fll">Идеи дизайнера:</label>

                <div class="more">
                                {% for i in item.project.design.images.all %}
                                    {% thumbnail i.image '1200' upscale=False as img %}
                                {% if forloop.first %}
                                <p><a href="{{ img.url }}" rel="design{{ item.id }}" class="c-red fancy2">все фото дизайн проекта</a> ({{ item.project.design.images.count }})</p>
                                    {% else %}
                                    <a href="{{ img.url }}" rel="design{{ item.id }}" class="hide fancy2"></a>
                                    {% endif %}
                                    {% endthumbnail %}
                            {% endfor %}
                            </div>

            </div>
        {% endif %}
           {% if item.project %}
                        <div class="item">
                            <label class="fll">Реализация проекта:</label>

                            <div class="more">
                                <p><a href="{{ item.project.get_absolute_url }}" class="c-red">фото после ремонта</a> ({{ item.project.images.count }})</p>
                            </div>
                        </div>
                    {% endif %}
            {% if item.review %}
            <div class="item">
                <label class="fll">Оценка проекта:</label>
                <div class="more">
                    <p><a href="#review{{ item.id }}" class="c-red fancy">отзыв заказчика</a>
                        <span class="marks">
                            <span class="stars"><span style="width: {{ item.review.rating|multiply:20 }}%;" class="ins"></span></span>
                        </span>
                    </p>
                </div>
            </div>
                <div class="popup" id="review{{ item.id }}">
<div class="inner respondes">
            <div class="container">
                <div class="resp" style="width: auto;">
                   {% if item.review.image %}
                    <div class="img fll">
                        <div class="ins">
                            {% thumbnail item.review.image '260x190' as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ item.review.name }}"/>
                            {% endthumbnail %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="txt">
                        <div class="marks">
                            <span>Оценка:</span><span class="stars"><span style="width: {{ item.review.rating|multiply:20 }}%;" class="ins"></span></span>
                        </div>
                        <span class="name">
                           {{ item.review.proj_name|default:'' }}
                        </span>
                        {{ item.review.text|safe }}
                        <div class="author">
                            {{ item.review.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </div>
            {% endif %}

        </div>

        <div class="clr"></div>
    </div>
{% endfor %}

<div class="aj-pager">
    {% include 'plugins/pager.html' %}
</div>