{% load menu_tags %}

{% for child in children %}
<li class="{% if child.selected %} active{% endif %}{% if child.ancestor %} active{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"><span class="fw600">{{ child.get_menu_title }}</span></a>
</li>
{% endfor %}
